XSDs/NEMSIS_StateDataSet_XSDs_ForDataDictionary/dConfiguration_v3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.nemsis.org" targetNamespace="http://www.nemsis.org" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="commonTypes_v3.xsd"/>
	<xs:complexType name="dConfiguration">
		<xs:sequence>
			
							<xs:element name="dConfiguration.02" id="dConfiguration.StateCertificationLicensureLevels" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>
										<nemsisTacDoc>
											<number>dConfiguration.02</number>
											<name>State Certification/Licensure Levels</name>
											<national>Yes</national>
											<state>Yes</state>
											<definition>All of the potential levels of certification/licensure for EMS personnel recognized by the state.</definition>
											<v2Number>D04_01</v2Number>
											<usage>Mandatory</usage>
											<comment>The new 2009 Education Levels have been added. The category EMT-Intermediate includes EMS professionals with an "85" or "99" certification level.
										&lt;br/>&lt;br/>The state EMS system does not need to import this information into their database.  Reference the Demographic Dataset Submission Guide for further details.
										</comment>
										</nemsisTacDoc>
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="LicensureLevels"/>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="dConfiguration.ProcedureGroup" id="dConfiguration.AgencyProcedureGroup" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Group Tag to hold info about Procedure information </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="dConfiguration.06" id="dConfiguration.EMSPersonnelLevelPermittedtoPerformtheProcedure" minOccurs="0">
											<xs:annotation>
												<xs:documentation>
													<nemsisTacDoc>
														<number>dConfiguration.06</number>
														<name>EMS Certification Levels Permitted to Perform Each Procedure</name>
														<national>Yes</national>
														<state>Yes</state>
														<definition>EMS certification levels which are permitted to perform the procedure listed in dConfiguration.07.</definition>
														<v2Number>D04_05</v2Number>
														<usage>Mandatory</usage>
														<performanceMeasuresGroup>
															<performanceMeasure>Airway</performanceMeasure>
															<performanceMeasure>Cardiac Arrest</performanceMeasure>
															<performanceMeasure>Pediatric</performanceMeasure>
															<performanceMeasure>Response</performanceMeasure>
															<performanceMeasure>STEMI</performanceMeasure>
															<performanceMeasure>Stroke</performanceMeasure>
															<performanceMeasure>Trauma</performanceMeasure>
														</performanceMeasuresGroup>
														<comment>Using each certification level within the agency, indicate the approved procedures allowed utilizing dConfiguration.07 (EMS Agency Procedures).
													&lt;br/>&lt;br/>The category EMT-Intermediate includes EMS professionals with an "85" or "99" certification level.													
													</comment>
													</nemsisTacDoc>
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="StateCertificationLicensureLevels"/>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="dConfiguration.03" nillable="true" id="dConfiguration.ProceduresPermittedbytheState" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>
													<nemsisTacDoc>
														<number>dConfiguration.03</number>
														<name>Procedures Permitted by the State</name>
														<national>Yes</national>
														<state>Yes</state>
														<definition>A list of all of the procedures permitted by the EMS Agency's licensing state.</definition>
														<usage>Required</usage>
														<performanceMeasuresGroup>
															<performanceMeasure>Airway</performanceMeasure>
															<performanceMeasure>Cardiac Arrest</performanceMeasure>
															<performanceMeasure>Pediatric</performanceMeasure>
															<performanceMeasure>Response</performanceMeasure>
															<performanceMeasure>STEMI</performanceMeasure>
															<performanceMeasure>Stroke</performanceMeasure>
															<performanceMeasure>Trauma</performanceMeasure>
														</performanceMeasuresGroup>
														<comment>This data element should capture all of the procedures permitted by the state for any/all levels of EMS personnel in the state. This is associated with the EMS Agency State (dAgency.01). This is related to the EMS Agency's procedures (dConfiguration.07) which have been implemented within the EMS System.
										&lt;br/>&lt;br/>State EMS systems which have regulatory authority to determine the procedures statewide may identify SNOMEDCT procedure codes based on medical direction and their own need.										
										&lt;br/>&lt;br/>Code list is represented in SNOMEDCT: Reference the NEMSIS Suggested Lists at: http://nemsis.org/v3/resources.html							
										&lt;br/>&lt;br/>SNOMEDCT
										&lt;br/>Website: http://www.nlm.nih.gov/research/umls/Snomed/snomed_main.html
										&lt;br/>Product: Product - UMLS Metathesaurus
										&lt;br/>&lt;br/>The EMS agency should submit "Not Applicable" and "Nil" to the state system for the demographic export. The state EMS system does not need to import this information into their database.  It is the responsibility of the state to submit this element to the national EMS database (NEMSIS).  Reference the Demographic Dataset Submission Guide for further details.										
										</comment>
													</nemsisTacDoc>
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="snomed">
														<xs:attribute name="NV" use="optional">
															<xs:simpleType>
																<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"/>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="dConfiguration.MedicationGroup" id="dConfiguration.AgencyMedicationGroup" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Group Tag to hold info about Medication information </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="dConfiguration.08" type="StateCertificationLicensureLevels" id="dConfiguration.PersonnelLevelPermittedtoAdministertheMedication" minOccurs="0">
											<xs:annotation>
												<xs:documentation>
													<nemsisTacDoc>
														<number>dConfiguration.08</number>
														<name>EMS Certification Levels Permitted to Administer Each Medication</name>
														<national>Yes</national>
														<state>Yes</state>
														<definition>All EMS certification levels which are permitted to administer the medications listed in dConfiguration.09 (EMS Agency Medications).</definition>
														<v2Number>D04_07</v2Number>
														<usage>Mandatory</usage>
														<performanceMeasuresGroup>
															<performanceMeasure>Airway</performanceMeasure>
															<performanceMeasure>Cardiac Arrest</performanceMeasure>
															<performanceMeasure>Pediatric</performanceMeasure>
															<performanceMeasure>Response</performanceMeasure>
															<performanceMeasure>STEMI</performanceMeasure>
															<performanceMeasure>Stroke</performanceMeasure>
															<performanceMeasure>Trauma</performanceMeasure>
														</performanceMeasuresGroup>
														<comment>Using each certification level within the agency, indicate the approved medications allowed utilizing dConfiguration.09 (EMS Agency Medications).
													&lt;br/>&lt;br/>The category EMT-Intermediate includes EMS professionals with an "85" or "99" certification level.
													</comment>
													</nemsisTacDoc>
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="dConfiguration.04" nillable="true" id="dConfiguration.MedicationsPermittedbytheState" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>
													<nemsisTacDoc>
														<number>dConfiguration.04</number>
														<name>Medications Permitted by the State</name>
														<national>Yes</national>
														<state>Yes</state>
														<definition>A list of all of the medications permitted by the state to be used by each EMS state certification/licensure level.</definition>
														<usage>Required</usage>
														<performanceMeasuresGroup>
															<performanceMeasure>Airway</performanceMeasure>
															<performanceMeasure>Cardiac Arrest</performanceMeasure>
															<performanceMeasure>Pediatric</performanceMeasure>
															<performanceMeasure>Response</performanceMeasure>
															<performanceMeasure>STEMI</performanceMeasure>
															<performanceMeasure>Stroke</performanceMeasure>
															<performanceMeasure>Trauma</performanceMeasure>
														</performanceMeasuresGroup>
														<comment>This data element should capture all of the medications permitted by the state for any/all levels of EMS personnel in the state.
										This should be stored as an RxNorm (RXCUI) Code. This is associated with the EMS Agency State (dAgency.01).
										&lt;br/>&lt;br/>The EMS agency should submit "Not Applicable" and "Nil" to the state system for the demographic export. 
										The state EMS system does not need to import this information into their database. It is the responsibility of the state to submit this element to the national EMS database (NEMSIS). 
										Reference the Demographic Dataset Submission Guide for further details.										
										</comment>
														<v3Changes>State EMS systems which have regulatory authority to identify medications to be administered within the state may identify specific RxNorm codes based on medical direction and their own need.
										&lt;br/>&lt;br/>List of medications based on RxNorm (RXCUI) code. 
										&lt;br/>&lt;br/>Reference the NEMSIS Suggested Lists at: http://nemsis.org/v3/resources.html											
										&lt;br/>&lt;br/>RxNorm
										&lt;br/>Website - http://uts.nlm.nih.gov
										
										&lt;br/>&lt;br/>Product - UMLS Metathesaurus
										&lt;br/>Website - http://www.nlm.nih.gov/research/umls/rxnorm/docs/rxnormfiles.html
										&lt;br/>Product - RxNorm Full Monthly Release
										</v3Changes>
													</nemsisTacDoc>
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="Medication">
														<xs:attribute name="NV" use="optional">
															<xs:simpleType>
																<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"/>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="dConfiguration.05" nillable="true" id="dConfiguration.ProtocolsPermittedbytheState" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>
										<nemsisTacDoc>
											<number>dConfiguration.05</number>
											<name>Protocols Permitted by the State</name>
											<national>Yes</national>
											<state>Yes</state>
											<definition>A list of all of the protocols permitted by the state.</definition>
											<usage>Required</usage>
											<performanceMeasuresGroup>
												<performanceMeasure>Airway</performanceMeasure>
												<performanceMeasure>Cardiac Arrest</performanceMeasure>
												<performanceMeasure>Pediatric</performanceMeasure>
												<performanceMeasure>Response</performanceMeasure>
												<performanceMeasure>STEMI</performanceMeasure>
												<performanceMeasure>Stroke</performanceMeasure>
												<performanceMeasure>Trauma</performanceMeasure>
											</performanceMeasuresGroup>
											<comment>
										This data element should capture all of the protocols permitted by the state for any/all levels of EMS personnel in the state.  This is associated with the EMS Agency State (dAgency.01).
										&lt;br/>&lt;br/>States can add additional protocols to the list but the additional state protocols must map to these uniform codes. &lt;br/>&lt;br/>The list is defined by the NASEMSO State Medical Directors.
										&lt;br/>&lt;br/>The EMS agency should submit "Not Applicable" and "Nil" to the state system for the demographic export.  The state EMS system does not need to import this information into their database.  It is the responsibility of the state to submit this element to the national EMS database (NEMSIS).  Reference the Demographic Dataset Submission Guide for further details.										
										</comment>
											<v3Changes>Added to better identify states with statewide protocols and define state EMS capability and care.</v3Changes>
										</nemsisTacDoc>
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="ProtocolsUsed">
											<xs:attribute name="NV" use="optional">
												<xs:simpleType>
													<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"/>
												</xs:simpleType>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
	</xs:complexType>
</xs:schema>
