XSDs/NEMSIS_NAT_XSDs/dConfiguration_v3.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.nemsis.org" targetNamespace="http://www.nemsis.org" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="commonTypes_v3.xsd"></xs:include>
	<xs:complexType name="dConfiguration">
		<xs:sequence>
			<xs:element name="dConfiguration.ConfigurationGroup" id="dConfiguration.ConfigurationGroup" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Group Tag to hold agency Configuration information</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="dConfiguration.01" type="ANSIStateCode" id="dConfiguration.StateAssociatedwiththeCertificationLicensureLevels">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>dConfiguration.01</number>
										<name>State Associated with the Certification/Licensure Levels</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>The state associated with the state certification/licensure levels.</definition>
										<usage>Mandatory</usage>
										<comment>Associated with the state (dAgency.01 - EMS Agency State). 
										&lt;br/>&lt;br/>GNIS Codes Website: &lt;a>http://geonames.usgs.gov/domestic/download_data.htm&lt;/a>
										&lt;br/>&lt;br/>The state EMS system does not need to import this information into their database.  Reference the Demographic Dataset Submission Guide for further details.
										</comment>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="dConfiguration.02" id="dConfiguration.StateCertificationLicensureLevels" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>dConfiguration.02</number>
										<name>State Certification/Licensure Levels</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>All of the potential levels of certification/licensure for EMS personnel recognized by the state.</definition>
										<v2Number>D04_01</v2Number>
										<usage>Mandatory</usage>
										<comment>The new 2009 Education Levels have been added. The category EMT-Intermediate includes EMS professionals with an "85" or "99" certification level.
										&lt;br/>&lt;br/>The state EMS system does not need to import this information into their database.  Reference the Demographic Dataset Submission Guide for further details.
										</comment>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="LicensureLevels">
										
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="dConfiguration.03" nillable="true" id="dConfiguration.ProceduresPermittedbytheState" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>dConfiguration.03</number>
										<name>Procedures Permitted by the State</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>A list of all of the procedures permitted by the EMS Agency's licensing state.</definition>
										<usage>Required</usage>
										<performanceMeasuresGroup>
											<performanceMeasure>Airway</performanceMeasure>
											<performanceMeasure>Cardiac Arrest</performanceMeasure>
											<performanceMeasure>Pediatric</performanceMeasure>
											<performanceMeasure>Response</performanceMeasure>
											<performanceMeasure>STEMI</performanceMeasure>
											<performanceMeasure>Stroke</performanceMeasure>
											<performanceMeasure>Trauma</performanceMeasure>
										</performanceMeasuresGroup>
										<comment>This data element should capture all of the procedures permitted by the state for any/all levels of EMS personnel in the state. This is associated with the EMS Agency State (dAgency.01). This is related to the EMS Agency's procedures (dConfiguration.07) which have been implemented within the EMS System.
										&lt;br/>&lt;br/>State EMS systems which have regulatory authority to determine the procedures statewide may identify SNOMEDCT procedure codes based on medical direction and their own need.										
										&lt;br/>&lt;br/>Code list is represented in SNOMEDCT: Reference the NEMSIS Suggested Lists at: http://nemsis.org/v3/resources.html							
										&lt;br/>&lt;br/>SNOMEDCT
										&lt;br/>Website: http://www.nlm.nih.gov/research/umls/Snomed/snomed_main.html
										&lt;br/>Product: Product - UMLS Metathesaurus
										&lt;br/>&lt;br/>The EMS agency should submit "Not Applicable" and "Nil" to the state system for the demographic export. The state EMS system does not need to import this information into their database.  It is the responsibility of the state to submit this element to the national EMS database (NEMSIS).  Reference the Demographic Dataset Submission Guide for further details.										
										</comment>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="snomed">
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
											</xs:simpleType>
										</xs:attribute>
										
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="dConfiguration.04" nillable="true" id="dConfiguration.MedicationsPermittedbytheState" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>dConfiguration.04</number>
										<name>Medications Permitted by the State</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>A list of all of the medications permitted by the state to be used by each EMS state certification/licensure level.</definition>
										<usage>Required</usage>
										<performanceMeasuresGroup>
											<performanceMeasure>Airway</performanceMeasure>
											<performanceMeasure>Cardiac Arrest</performanceMeasure>
											<performanceMeasure>Pediatric</performanceMeasure>
											<performanceMeasure>Response</performanceMeasure>
											<performanceMeasure>STEMI</performanceMeasure>
											<performanceMeasure>Stroke</performanceMeasure>
											<performanceMeasure>Trauma</performanceMeasure>
										</performanceMeasuresGroup>
										<comment>This data element should capture all of the medications permitted by the state for any/all levels of EMS personnel in the state.
										This should be stored as an RxNorm (RXCUI) Code. This is associated with the EMS Agency State (dAgency.01).
										&lt;br/>&lt;br/>The EMS agency should submit "Not Applicable" and "Nil" to the state system for the demographic export. 
										The state EMS system does not need to import this information into their database. It is the responsibility of the state to submit this element to the national EMS database (NEMSIS). 
										Reference the Demographic Dataset Submission Guide for further details.										
										</comment>
										<v3Changes>State EMS systems which have regulatory authority to identify medications to be administered within the state may identify specific RxNorm codes based on medical direction and their own need.
										&lt;br/>&lt;br/>List of medications based on RxNorm (RXCUI) code. 
										&lt;br/>&lt;br/>Reference the NEMSIS Suggested Lists at: http://nemsis.org/v3/resources.html											
										&lt;br/>&lt;br/>RxNorm
										&lt;br/>Website - http://uts.nlm.nih.gov
										
										&lt;br/>&lt;br/>Product - UMLS Metathesaurus
										&lt;br/>Website - http://www.nlm.nih.gov/research/umls/rxnorm/docs/rxnormfiles.html
										&lt;br/>Product - RxNorm Full Monthly Release
										</v3Changes>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="Medication">
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
											</xs:simpleType>
										</xs:attribute>
										
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="dConfiguration.05" nillable="true" id="dConfiguration.ProtocolsPermittedbytheState" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>dConfiguration.05</number>
										<name>Protocols Permitted by the State</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>A list of all of the protocols permitted by the state.</definition>
										<usage>Required</usage>
										<performanceMeasuresGroup>
											<performanceMeasure>Airway</performanceMeasure>
											<performanceMeasure>Cardiac Arrest</performanceMeasure>
											<performanceMeasure>Pediatric</performanceMeasure>
											<performanceMeasure>Response</performanceMeasure>
											<performanceMeasure>STEMI</performanceMeasure>
											<performanceMeasure>Stroke</performanceMeasure>
											<performanceMeasure>Trauma</performanceMeasure>
										</performanceMeasuresGroup>
										<comment>
										This data element should capture all of the protocols permitted by the state for any/all levels of EMS personnel in the state.  This is associated with the EMS Agency State (dAgency.01).
										&lt;br/>&lt;br/>States can add additional protocols to the list but the additional state protocols must map to these uniform codes. &lt;br/>&lt;br/>The list is defined by the NASEMSO State Medical Directors.
										&lt;br/>&lt;br/>The EMS agency should submit "Not Applicable" and "Nil" to the state system for the demographic export.  The state EMS system does not need to import this information into their database.  It is the responsibility of the state to submit this element to the national EMS database (NEMSIS).  Reference the Demographic Dataset Submission Guide for further details.										
										</comment>
										<v3Changes>Added to better identify states with statewide protocols and define state EMS capability and care.</v3Changes>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="ProtocolsUsed">
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
											</xs:simpleType>
										</xs:attribute>
										
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="dConfiguration.ProcedureGroup" id="dConfiguration.AgencyProcedureGroup" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Group Tag to hold info about Procedure information</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="dConfiguration.06" id="dConfiguration.EMSPersonnelLevelPermittedtoPerformtheProcedure">
										<xs:annotation>
											<xs:documentation>
												<nemsisTacDoc>
													<number>dConfiguration.06</number>
													<name>EMS Certification Levels Permitted to Perform Each Procedure</name>
													<national>Yes</national>
													<state>Yes</state>
													<definition>EMS certification levels which are permitted to perform the procedure listed in dConfiguration.07.</definition>
													<v2Number>D04_05</v2Number>
													<usage>Mandatory</usage>
													<performanceMeasuresGroup>
														<performanceMeasure>Airway</performanceMeasure>
														<performanceMeasure>Cardiac Arrest</performanceMeasure>
														<performanceMeasure>Pediatric</performanceMeasure>
														<performanceMeasure>Response</performanceMeasure>
														<performanceMeasure>STEMI</performanceMeasure>
														<performanceMeasure>Stroke</performanceMeasure>
														<performanceMeasure>Trauma</performanceMeasure>
													</performanceMeasuresGroup>
													<comment>Using each certification level within the agency, indicate the approved procedures allowed utilizing dConfiguration.07 (EMS Agency Procedures).
													&lt;br/>&lt;br/>The category EMT-Intermediate includes EMS professionals with an "85" or "99" certification level.													
													</comment>
												</nemsisTacDoc>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="StateCertificationLicensureLevels"></xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="dConfiguration.07" id="dConfiguration.EMSAgencyProcedures" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>
												<nemsisTacDoc>
													<number>dConfiguration.07</number>
													<name>EMS Agency Procedures</name>
													<national>Yes</national>
													<state>Yes</state>
													<definition>A list of all procedures that the agency has implemented and available for use by any/all EMS certification levels.</definition>
													<v2Number>D04_04</v2Number>
													<usage>Mandatory</usage>
													<performanceMeasuresGroup>
														<performanceMeasure>Airway</performanceMeasure>
														<performanceMeasure>Cardiac Arrest</performanceMeasure>
														<performanceMeasure>Pediatric</performanceMeasure>
														<performanceMeasure>Response</performanceMeasure>
														<performanceMeasure>STEMI</performanceMeasure>
														<performanceMeasure>Stroke</performanceMeasure>
														<performanceMeasure>Trauma</performanceMeasure>
													</performanceMeasuresGroup>
													<comment>
													This is associated with the EMS Agency Number (dAgency.02) since each EMS Agency Number may have different capabilities. Each procedure is associated with the EMS professional certification levels permitted to perform the procedure. 

&lt;br/>&lt;br/>EMS Agencies may identify additional SNOMEDCT procedure codes based on medical direction and their own need. If an agency resides in a state with statewide approved procedures, they should be listed/implemented here. 

&lt;br/>&lt;br/>Code list is represented in SNOMEDCT: Reference the NEMSIS Suggested Lists at: http://nemsis.org/v3/resources.html 

&lt;br/>&lt;br/>SNOMEDCT 
&lt;br/>Website: http://www.nlm.nih.gov/research/umls/Snomed/snomed_main.html 
&lt;br/>Product: Product - UMLS Metathesaurus 
													</comment>
												</nemsisTacDoc>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="snomed">
													
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								
							</xs:complexType>
						</xs:element>
						<xs:element name="dConfiguration.MedicationGroup" id="dConfiguration.AgencyMedicationGroup" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Group Tag to hold info about Medication information</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="dConfiguration.08" type="StateCertificationLicensureLevels" id="dConfiguration.PersonnelLevelPermittedtoAdministertheMedication">
										<xs:annotation>
											<xs:documentation>
												<nemsisTacDoc>
													<number>dConfiguration.08</number>
													<name>EMS Certification Levels Permitted to Administer Each Medication</name>
													<national>Yes</national>
													<state>Yes</state>
													<definition>All EMS certification levels which are permitted to administer the medications listed in dConfiguration.09 (EMS Agency Medications).</definition>
													<v2Number>D04_07</v2Number>
													<usage>Mandatory</usage>
													<performanceMeasuresGroup>
														<performanceMeasure>Airway</performanceMeasure>
														<performanceMeasure>Cardiac Arrest</performanceMeasure>
														<performanceMeasure>Pediatric</performanceMeasure>
														<performanceMeasure>Response</performanceMeasure>
														<performanceMeasure>STEMI</performanceMeasure>
														<performanceMeasure>Stroke</performanceMeasure>
														<performanceMeasure>Trauma</performanceMeasure>
													</performanceMeasuresGroup>
													<comment>Using each certification level within the agency, indicate the approved medications allowed utilizing dConfiguration.09 (EMS Agency Medications).
													&lt;br/>&lt;br/>The category EMT-Intermediate includes EMS professionals with an "85" or "99" certification level.
													</comment>
												</nemsisTacDoc>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="dConfiguration.09" id="dConfiguration.EMSAgencyMedications" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>
												<nemsisTacDoc>
													<number>dConfiguration.09</number>
													<name>EMS Agency Medications</name>
													<national>Yes</national>
													<state>Yes</state>
													<definition>A list of all medications the agency has implemented and have available for use.</definition>
													<v2Number>D04_06</v2Number>
													<usage>Mandatory</usage>
													<performanceMeasuresGroup>
														<performanceMeasure>Airway</performanceMeasure>
														<performanceMeasure>Cardiac Arrest</performanceMeasure>
														<performanceMeasure>Pediatric</performanceMeasure>
														<performanceMeasure>Response</performanceMeasure>
														<performanceMeasure>STEMI</performanceMeasure>
														<performanceMeasure>Stroke</performanceMeasure>
														<performanceMeasure>Trauma</performanceMeasure>
													</performanceMeasuresGroup>
													<comment>The medication list is stored as the RxNorm (RXCUI) Code. This is associated with the EMS Agency Number (dAgency.02) since each EMS Agency Number may have different capabilities. 

&lt;br/>&lt;br/>List of medications based on RxNorm (RXCUI) code. Reference the NEMSIS Suggested Lists at: http://nemsis.org/v3/resources.html 

&lt;br/>&lt;br/>RxNorm 
&lt;br/>Website - http://uts.nlm.nih.gov 

&lt;br/>&lt;br/>Product - UMLS Metathesaurus 
&lt;br/>Website - http://www.nlm.nih.gov/research/umls/rxnorm/docs/rxnormfiles.html 
&lt;br/>Product - RxNorm Full Monthly Release</comment>
												</nemsisTacDoc>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="Medication">
													
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								
							</xs:complexType>
						</xs:element>
						<xs:element name="dConfiguration.10" id="dConfiguration.EMSAgencyProtocols" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>dConfiguration.10</number>
										<name>EMS Agency Protocols</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>A list of all of the EMS field protocols that the agency has in place and available for use.</definition>
										<v2Number>D04_08</v2Number>
										<usage>Mandatory</usage>
										<performanceMeasuresGroup>
											<performanceMeasure>Airway</performanceMeasure>
											<performanceMeasure>Cardiac Arrest</performanceMeasure>
											<performanceMeasure>Pediatric</performanceMeasure>
											<performanceMeasure>Response</performanceMeasure>
											<performanceMeasure>STEMI</performanceMeasure>
											<performanceMeasure>Stroke</performanceMeasure>
											<performanceMeasure>Trauma</performanceMeasure>
										</performanceMeasuresGroup>
										<comment>This is associated with the EMS Agency Number (dAgency.02) since each EMS Agency Number may have different capabilities. 
										&lt;br/>&lt;br/>State and local entities  can add additional protocols to the list but the additional protocols must map to these uniform codes. 
										&lt;br/>&lt;br/>The list is defined by the NASEMSO State Medical Directors.</comment>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="ProtocolsUsed">
										
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="dConfiguration.11" id="dConfiguration.EMSAgencySpecialtyServiceCapability" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>dConfiguration.11</number>
										<name>EMS Agency Specialty Service Capability</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>Special training or services provided by the EMS Agency and available to the EMS service area/community.</definition>
										<usage>Mandatory</usage>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="AgencySpecialtyServiceCapability">
										
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						
						<xs:element name="dConfiguration.13" id="dConfiguration.EmergencyMedicalDispatchEMDProvidedtoEMSAgencyServiceArea">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>dConfiguration.13</number>
										<name>Emergency Medical Dispatch (EMD) Provided to EMS Agency Service Area</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>Indication as to whether Emergency Medical Dispatch is provided to the EMS Agency's service area.</definition>
										<usage>Mandatory</usage>
										<performanceMeasuresGroup>
											<performanceMeasure>Airway</performanceMeasure>
											<performanceMeasure>Cardiac Arrest</performanceMeasure>
											<performanceMeasure>Pediatric</performanceMeasure>
											<performanceMeasure>Response</performanceMeasure>
											<performanceMeasure>STEMI</performanceMeasure>
											<performanceMeasure>Stroke</performanceMeasure>
											<performanceMeasure>Trauma</performanceMeasure>
										</performanceMeasuresGroup>
										<comment>Added to better document the implementation of Emergency Medical Dispatch. Associated with each EMS Agency and the specific EMS Agency Number (dAgency.02).</comment>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="EMDtoAgencyServiceArea"></xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						
						<xs:element name="dConfiguration.15" id="dConfiguration.PatientMonitoringCapabilityies" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>dConfiguration.15</number>
										<name>Patient Monitoring Capability(ies)</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>The EMS Agency's patient monitoring capability which can be provided to any/all patients presenting to EMS.</definition>
										<usage>Mandatory</usage>
										<performanceMeasuresGroup>
											<performanceMeasure>Airway</performanceMeasure>
											<performanceMeasure>Cardiac Arrest</performanceMeasure>
											<performanceMeasure>Pediatric</performanceMeasure>
											<performanceMeasure>Response</performanceMeasure>
											<performanceMeasure>STEMI</performanceMeasure>
											<performanceMeasure>Stroke</performanceMeasure>
											<performanceMeasure>Trauma</performanceMeasure>
										</performanceMeasuresGroup>
										<comment>Added to identify the patient monitoring capability of the EMS Agency. Associated with each EMS Agency Number (dAgency.02) since each EMS Agency Number may have a different capability within each EMS Agency. Other patient monitoring capability may exist but NEMSIS Version 3 only includes these specific capabilities.</comment>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="PatientMonitoringCapability">
										
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="dConfiguration.16" id="dConfiguration.AgencyCallSign" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>dConfiguration.16</number>
										<name>Crew Call Sign</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>The EMS crew call sign used to dispatch and communicate with the unit.  This may be the same as the EMS Unit/Vehicle Number in many agencies.</definition>
										<v2Number>D04_02</v2Number>
										<usage>Mandatory</usage>
										<performanceMeasures></performanceMeasures>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="AgencyCallSign">
										
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						
					</xs:sequence>
					
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AgencyCallSign">
		<xs:annotation>
			<xs:documentation>The call sign associated with the responding crew (associated with a shift).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"></xs:minLength>
			<xs:maxLength value="50"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AgencySpecialtyServiceCapability">
		<xs:annotation>
			<xs:documentation>Special training or services provided by the EMS Agency and available to the EMS service area/community (i.e. USAR, Swift Water Rescue, etc.).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1211001">
				<xs:annotation>
					<xs:documentation>Air Rescue</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1211003">
				<xs:annotation>
					<xs:documentation>CBRNE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1211005">
				<xs:annotation>
					<xs:documentation>Community Health Medicine</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1211007">
				<xs:annotation>
					<xs:documentation>Disaster Medical Assistance Team (DMAT)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1211009">
				<xs:annotation>
					<xs:documentation>Disaster Mortuary (DMORT)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1211011">
				<xs:annotation>
					<xs:documentation>Dive Rescue</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1211013">
				<xs:annotation>
					<xs:documentation>Farm Rescue</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1211015">
				<xs:annotation>
					<xs:documentation>High Angle Rescue</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1211017">
				<xs:annotation>
					<xs:documentation>Machinery Disentanglement</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1211019">
				<xs:annotation>
					<xs:documentation>None</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1211021">
				<xs:annotation>
					<xs:documentation>Ski / Snow Rescue</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1211023">
				<xs:annotation>
					<xs:documentation>Tactical EMS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1211025">
				<xs:annotation>
					<xs:documentation>Trench / Confined Space Rescue</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1211027">
				<xs:annotation>
					<xs:documentation>Urban Search and Rescue (USAR)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1211029">
				<xs:annotation>
					<xs:documentation>Vehicle Extrication</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1211031">
				<xs:annotation>
					<xs:documentation>Veterinary Medical Assistance Team (VMAT)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1211033">
				<xs:annotation>
					<xs:documentation>Water or Ice Related Rescue (Incl Swift Water)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1211035">
				<xs:annotation>
					<xs:documentation>Wilderness Search and Rescue</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DispatchCenterCADNameorID">
		<xs:annotation>
			<xs:documentation>The name or ID of the dispatch center providing electronic data to the PCR for the EMS agency, if applicable.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"></xs:minLength>
			<xs:maxLength value="100"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EMDtoAgencyServiceArea">
		<xs:annotation>
			<xs:documentation>Indication as to whether Emergency Medical Dispatch is provided to the EMS Agency's Service Area.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1213001">
				<xs:annotation>
					<xs:documentation>No</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1213003">
				<xs:annotation>
					<xs:documentation>Yes, 100% of the EMS Agency's Service Area</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1213005">
				<xs:annotation>
					<xs:documentation>Yes, Less than 100% of the EMS Agency's Service Area</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EMDVendorType">
		<xs:annotation>
			<xs:documentation>The Vendor or Company associated with the EMD Card set and algorithms.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"></xs:minLength>
			<xs:maxLength value="100"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PatientMonitoringCapability">
		<xs:annotation>
			<xs:documentation>The EMS Agency's Patient Monitoring Capability which can be provided to any/all patients presenting to EMS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1215001">
				<xs:annotation>
					<xs:documentation>Capnography-Numeric</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1215003">
				<xs:annotation>
					<xs:documentation>Capnography-Waveform</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1215005">
				<xs:annotation>
					<xs:documentation>ECG-12 Lead or Greater</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1215007">
				<xs:annotation>
					<xs:documentation>ECG-Less than 12 Lead (Cardiac Monitor)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1215009">
				<xs:annotation>
					<xs:documentation>Oximetry-Carbon Monoxide</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1215011">
				<xs:annotation>
					<xs:documentation>Oximetry-Oxygen</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1215013">
				<xs:annotation>
					<xs:documentation>Pressure Measurement-Invasive (Arterial, CVP, Swan, etc.)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1215015">
				<xs:annotation>
					<xs:documentation>Pressure Measurement-Non-Invasive (Blood Pressure, etc.)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1215017">
				<xs:annotation>
					<xs:documentation>Ventilator-Transport</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1215019">
				<xs:annotation>
					<xs:documentation>Vital Sign Monitoring</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>