XSDs/NEMSIS_NAT_XSDs/DEMDataSet_v3.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.nemsis.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.nemsis.org" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="dAgency_v3.xsd"/>
	<xs:include schemaLocation="dConfiguration_v3.xsd"/>
	<xs:element name="DEMDataSet">
		<xs:annotation>
			<xs:documentation>Root Tag For Demographic DataSet</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>		
				<xs:element name="DemographicReport" id="DemographicReportGroup" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Container Tag to hold each instance of a demographic record</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="dAgency" type="dAgency" id="dAgencySection">
								<xs:annotation>
									<xs:documentation>Agency Information</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="dConfiguration" type="dConfiguration" id="dConfigurationSection">
								<xs:annotation>
									<xs:documentation>Configuration Information</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="timeStamp" type="DateTimeType" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
