XSDs/NEMSIS_NAT_XSDs/eDisposition_v3.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.nemsis.org" targetNamespace="http://www.nemsis.org" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="commonTypes_v3.xsd"></xs:include>
	<xs:complexType name="eDisposition" id="eDisposition.Disposition">
		<xs:sequence>
			<xs:element name="eDisposition.DestinationGroup" id="eDisposition.DestinationGroup">
				<xs:annotation>
					<xs:documentation>Group Tag to hold info about the Destination and the Disposition details</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						
						
						
						
						<xs:element name="eDisposition.05" nillable="true" id="eDisposition.DestinationState">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>eDisposition.05</number>
										<name>Destination State</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>The state of the destination the patient was delivered or transferred to.</definition>
										<v2Number>E20_05</v2Number>
										<usage>Required</usage>
										<performanceMeasuresGroup>
											<performanceMeasure>Airway</performanceMeasure>
											<performanceMeasure>Cardiac Arrest</performanceMeasure>
											<performanceMeasure>Pediatric</performanceMeasure>
											<performanceMeasure>Response</performanceMeasure>
											<performanceMeasure>STEMI</performanceMeasure>
											<performanceMeasure>Stroke</performanceMeasure>
											<performanceMeasure>Trauma</performanceMeasure>
										</performanceMeasuresGroup>
										<comment>Based on the ANSI Code. May be auto-populated if list created in dFacility.09 (Facility State).&lt;br/>&lt;br/>GNIS Codes Website: &lt;a>http://geonames.usgs.gov/domestic/download_data.htm&lt;/a></comment>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="ANSIStateCode">
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="eDisposition.06" nillable="true" id="eDisposition.DestinationCounty">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>eDisposition.06</number>
										<name>Destination County</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>The destination county in which  the patient was delivered or transferred to.</definition>
										<v2Number>E20_06</v2Number>
										<usage>Required</usage>
										<performanceMeasuresGroup>
											<performanceMeasure>Airway</performanceMeasure>
											<performanceMeasure>Cardiac Arrest</performanceMeasure>
											<performanceMeasure>Pediatric</performanceMeasure>
											<performanceMeasure>Response</performanceMeasure>
											<performanceMeasure>STEMI</performanceMeasure>
											<performanceMeasure>Stroke</performanceMeasure>
											<performanceMeasure>Trauma</performanceMeasure>
										</performanceMeasuresGroup>
										<comment>May be auto-populated if list created in dFacility.11 (Facility County). Based on the ANSI Code Single Choice based on the County Name but stored as the ANSI code (combined 5 digit State and County codes) Should be required if there is a patient associated with the event.
							&lt;br/>&lt;br/>GNIS Codes Website: &lt;a>http://geonames.usgs.gov/domestic/download_data.htm&lt;/a></comment>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="ANSICountyCode">
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
												
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="eDisposition.07" nillable="true" id="eDisposition.DestinationZIPCode">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>eDisposition.07</number>
										<name>Destination ZIP Code</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>The destination ZIP code in which  the patient was delivered or transferred to.</definition>
										<v2Number>E20_07</v2Number>
										<usage>Required</usage>
										<performanceMeasuresGroup>
											<performanceMeasure>Airway</performanceMeasure>
											<performanceMeasure>Cardiac Arrest</performanceMeasure>
											<performanceMeasure>Pediatric</performanceMeasure>
											<performanceMeasure>Response</performanceMeasure>
											<performanceMeasure>STEMI</performanceMeasure>
											<performanceMeasure>Stroke</performanceMeasure>
											<performanceMeasure>Trauma</performanceMeasure>
										</performanceMeasuresGroup>
										<comment>May be auto-populated if list created in dFacility.10 (Facility ZIP Code).&lt;br/>&lt;br/>ZIP Codes Product Website: &lt;a>https://www.zipcodedownload.com/Products/Product/Z5Commercial/Standard/Overview/&lt;/a>
&lt;br/>Product: USA - 5-digit ZIP Code Database, Commercial Edition</comment>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="ZIP">
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						
						
						
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="eDisposition.12" type="IncidentPatientDisposition" id="eDisposition.IncidentPatientDisposition">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eDisposition.12</number>
							<name>Incident/Patient Disposition</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>Type of disposition treatment and/or transport of the patient by this EMS Unit.</definition>
							<v2Number>E20_10</v2Number>
							<usage>Mandatory</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			
			
			<xs:element name="eDisposition.16" nillable="true" id="eDisposition.EMSTransportMethod">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eDisposition.16</number>
							<name>EMS Transport Method</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>Transport method by this EMS Unit.</definition>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>Required if the patient is transported by EMS.</comment>
							<v3Changes>Added to better describe Air and Ground Transport methods.</v3Changes>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="EMSTransportMethod">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eDisposition.17" nillable="true" id="eDisposition.TransportModefromScene">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eDisposition.17</number>
							<name>Transport Mode from Scene</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>Indication whether the transport was emergent or non-emergent.</definition>
							<v2Number>E20_14</v2Number>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>Information now split between eDisposition.17 (Transport Mode from Scene) and eDisposition.18 (Additional Transport Mode Descriptors). Element eDisposition.18  (Additional Transport Mode Descriptors) has been added to document the use of lights and sirens or other descriptive information.</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="TransportModeFromScene">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eDisposition.18" nillable="true" id="eDisposition.AdditionalTransportModeDescriptors" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eDisposition.18</number>
							<name>Additional Transport Mode Descriptors</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The documentation of transport mode techniques for this EMS response.</definition>
							<usage>Required</usage>
							<comment>Information now split between eDisposition.17 (Transport Mode from Scene) and eDisposition.18 (Additional Transport Mode Descriptors). Element eDisposition.18  (Additional Transport Mode Descriptors) has been added to document the use of lights and sirens or other descriptive information.</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="AdditionalTransportModeDescriptors">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
								</xs:simpleType>
							</xs:attribute>
							
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eDisposition.19" nillable="true" id="eDisposition.FinalPatientAcuity">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eDisposition.19</number>
							<name>Final Patient Acuity</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The acuity of the patient's condition after EMS care.</definition>
							<v2Number>E20_15</v2Number>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>Definitions related to "Critical, Emergent, and Lower Acuity" can be found in the National EMS Core Content document from NHTSA EMS (DOT HS 809-898 July 2005) at 
&lt;br/>&lt;a href="http://www.nhtsa.gov/people/injury/ems/emscorecontent/images/EMSCoreContent.pdf" target="_blank">http://www.nhtsa.gov/people/injury/ems/emscorecontent/images/EMSCoreContent.pdf&lt;/a></comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="FinalPatientAcuity">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eDisposition.20" nillable="true" id="eDisposition.ReasonforChoosingDestination" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eDisposition.20</number>
							<name>Reason for Choosing Destination</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The reason the unit chose to deliver or transfer the patient to the destination</definition>
							<v2Number>E20_16</v2Number>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>Required if Patient Transported</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ReasonForChoosingDestination">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
								</xs:simpleType>
							</xs:attribute>
							
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eDisposition.21" nillable="true" id="eDisposition.TypeofDestination">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eDisposition.21</number>
							<name>Type of Destination</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The type of destination the patient was delivered or transferred to</definition>
							<v2Number>E20_17</v2Number>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>Required if Patient Transported by EMS.</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="TypeOfDestination">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eDisposition.22" nillable="true" id="eDisposition.HospitalInPatientDestination">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eDisposition.22</number>
							<name>Hospital In-Patient Destination</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The location within the hospital that the patient was taken directly by EMS (e.g., Cath Lab, ICU, etc.).</definition>
							<usage>Required</usage>
							<comment>To be documented when in eDisposition.21 "Hospital-Non-Emergency Department Bed" is selected.</comment>
							<v3Changes>Added to identify the location within the hospital that the patient was directly taken to by EMS.</v3Changes>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="HospitalInPatientDestination">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eDisposition.23" nillable="true" id="eDisposition.HospitalCapability">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eDisposition.23</number>
							<name>Hospital Capability</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The primary hospital capability associated with the patient's condition for this transport (e.g., Trauma, STEMI, Peds, etc.).</definition>
							<usage>Required</usage>
							<comment>To be documented when eDisposition.21 (Type of Destination) is 1) Hospital-Emergency Department, 2) Hospital-Non-Emergency Department Bed, or 3) Freestanding Emergency Department.</comment>
							<v3Changes>Added to aid in determining if patients are transported to the appropriate hospital based on provider impression, assessment, and treatment.</v3Changes>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="HospitalDesignation">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eDisposition.HospitalTeamActivationGroup" id="eDisposition.HospitalTeamActivationGroup" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Group Tag to hold info about the destination team pre-arrival activation</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="eDisposition.24" nillable="true" id="eDisposition.DestinationTeamPreArrivalActivation">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>eDisposition.24</number>
										<name>Destination Team Pre-Arrival Alert or Activation</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>Indication that an alert (or activation) was called by EMS to the appropriate destination healthcare facility team. The alert (or activation) should occur prior to the EMS Unit arrival at the destination with the patient.</definition>
										<usage>Required</usage>
										<performanceMeasuresGroup>
											<performanceMeasure>Cardiac Arrest</performanceMeasure>
											<performanceMeasure>STEMI</performanceMeasure>
											<performanceMeasure>Stroke</performanceMeasure>
											<performanceMeasure>Trauma</performanceMeasure>
										</performanceMeasuresGroup>
										<comment></comment>
										<v3Changes>Added to better document performance measure for acute time dependent illness and injury systems of care.</v3Changes>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="DestinationPrearrivalActivation">
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="eDisposition.25" nillable="true" id="eDisposition.DestinationPrearrivalActivationDateTime">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>eDisposition.25</number>
										<name>Date/Time of Destination Prearrival Alert or Activation</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>The Date/Time EMS alerted, notified, or activated the Destination Healthcare Facility prior to EMS arrival. The EMS assessment identified the patient as acutely ill or injured based on exam and possibly specified alert criteria.</definition>
										<usage>Required</usage>
										<performanceMeasuresGroup>
											<performanceMeasure>Airway</performanceMeasure>
											<performanceMeasure>Cardiac Arrest</performanceMeasure>
											<performanceMeasure>Pediatric</performanceMeasure>
											<performanceMeasure>STEMI</performanceMeasure>
											<performanceMeasure>Stroke</performanceMeasure>
											<performanceMeasure>Trauma</performanceMeasure>
										</performanceMeasuresGroup>
										<comment>DateTime consists of finite-length characters of the form: yyyy '-' mm '-' dd 'T' hh ':' mm ':' ss ('.' s+)? (zzzzzz)
&lt;table  cellspacing="2">&lt;tr>&lt;td>							
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">yyyy&lt;/td>&lt;td>a four-digit numeral that represents the year&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>separators between parts of the date portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the month&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">dd&lt;/td>&lt;td>a two-digit numeral that represents the day&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">T&lt;/td>&lt;td>separator that indicates time-of-day follows&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral that represents the hour&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">':'&lt;/td>&lt;td>a separator between parts of the time-of-day portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minute&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">ss&lt;/td>&lt;td>a two-integer-digit numeral that represents the whole seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'.' s+&lt;/td>&lt;td>(not required) represents the fractional seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">zzzzzz&lt;/td>&lt;td>(required) represents the timezone (as described below)&lt;/td>&lt;/tr>
&lt;/table> 
&lt;/td>&lt;/tr>&lt;/table>
&lt;br/>Timezones, required, are durations with (integer-valued) hour and minute properties in the form: ('+' | '-') hh ':' mm   
&lt;table cellspacing="2">&lt;tr>&lt;td>	
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral (with leading zeros as required) that represents the hours&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minutes&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'+'&lt;/td>&lt;td>a nonnegative duration&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>a nonpositive duration&lt;/td>&lt;/tr>
&lt;/table>
&lt;/td>&lt;/tr>&lt;/table></comment>
										<v3Changes>Added to better document performance measure for acute time dependent illness and injury systems of care.</v3Changes>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="DateTimeType">
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					
				</xs:complexType>
			</xs:element>
			
		</xs:sequence>
		
	</xs:complexType>
	<xs:simpleType name="AdditionalTransportModeDescriptors">
		<xs:annotation>
			<xs:documentation>Indication whether or not lights and/or sirens were used on the vehicle while leaving scene</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="4218001">
				<xs:annotation>
					<xs:documentation>Intersection Navigation-Against Normal Light Patterns</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4218003">
				<xs:annotation>
					<xs:documentation>Intersection Navigation-With Automated Light Changing Technology</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4218005">
				<xs:annotation>
					<xs:documentation>Intersection Navigation-With Normal Light Patterns</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4218007">
				<xs:annotation>
					<xs:documentation>Speed-Enhanced per Local Policy</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4218009">
				<xs:annotation>
					<xs:documentation>Speed-Normal Traffic</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4218011">
				<xs:annotation>
					<xs:documentation>Lights and Sirens</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4218013">
				<xs:annotation>
					<xs:documentation>Lights and No Sirens</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4218015">
				<xs:annotation>
					<xs:documentation>No Lights or Sirens</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4218017">
				<xs:annotation>
					<xs:documentation>Initial No Lights or Sirens, Upgraded to Lights and Sirens</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4218019">
				<xs:annotation>
					<xs:documentation>Initial Lights and Sirens, Downgraded to No Lights or Sirens</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DestinationPrearrivalActivation">
		<xs:annotation>
			<xs:documentation>Activation of the Destination Healthcare Facility Team prior to EMS arrival for acute ill or injured patient.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="4224001">
				<xs:annotation>
					<xs:documentation>No</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4224003">
				<xs:annotation>
					<xs:documentation>Yes-Adult Trauma</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4224005">
				<xs:annotation>
					<xs:documentation>Yes-Cardiac Arrest</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4224007">
				<xs:annotation>
					<xs:documentation>Yes-Obstetrics</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4224009">
				<xs:annotation>
					<xs:documentation>Yes-Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4224011">
				<xs:annotation>
					<xs:documentation>Yes-Pediatric Trauma</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4224013">
				<xs:annotation>
					<xs:documentation>Yes-STEMI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4224015">
				<xs:annotation>
					<xs:documentation>Yes-Stroke</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4224017">
				<xs:annotation>
					<xs:documentation>Yes-Trauma (General)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DestinationTransferredToCode">
		<xs:annotation>
			<xs:documentation>The code of the destination the patient was delivered or transferred to</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"></xs:minLength>
			<xs:maxLength value="50"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DestinationTransferredToName">
		<xs:annotation>
			<xs:documentation>The destination the patient was delivered or transferred to</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"></xs:minLength>
			<xs:maxLength value="100"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DispositionInstruction">
		<xs:annotation>
			<xs:documentation>Information provided to the patient during the disposition</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="4226001">
				<xs:annotation>
					<xs:documentation>Contact 911 or see your Doctor if problem returns</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4226003">
				<xs:annotation>
					<xs:documentation>Contact 911 or see your Doctor if problem worsens</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4226005">
				<xs:annotation>
					<xs:documentation>Other Not Listed (Described in Narrative)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4226007">
				<xs:annotation>
					<xs:documentation>Problem Specific Instructions Provided</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4226009">
				<xs:annotation>
					<xs:documentation>See Your Doctor or the Emergency Department immediately</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4226011">
				<xs:annotation>
					<xs:documentation>See Your Doctor or the Emergency Department in the next 24 hours</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4226013">
				<xs:annotation>
					<xs:documentation>See Your Doctor or the Emergency Department in the next 4 hours</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4226015">
				<xs:annotation>
					<xs:documentation>See Your Doctor within the next one week</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EMSTransportMethod">
		<xs:annotation>
			<xs:documentation>The method of transport by EMS.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="4216001">
				<xs:annotation>
					<xs:documentation>Air Medical-Fixed Wing</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4216003">
				<xs:annotation>
					<xs:documentation>Air Medical-Rotor Craft</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4216005">
				<xs:annotation>
					<xs:documentation>Ground-Ambulance</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4216007">
				<xs:annotation>
					<xs:documentation>Ground-ATV or Rescue Vehicle</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4216009">
				<xs:annotation>
					<xs:documentation>Ground-Bariatric</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4216011">
				<xs:annotation>
					<xs:documentation>Ground-Other Not Listed</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4216013">
				<xs:annotation>
					<xs:documentation>Ground-Mass Casualty Bus/Vehicle</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4216015">
				<xs:annotation>
					<xs:documentation>Ground-Wheelchair Van</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4216017">
				<xs:annotation>
					<xs:documentation>Water-Boat</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HospitalInPatientDestination">
		<xs:annotation>
			<xs:documentation>The location within the hospital that the patient was taken directly by EMS (e.g., Cath Lab, ICU, etc.).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="4222001">
				<xs:annotation>
					<xs:documentation>Hospital-Burn</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4222003">
				<xs:annotation>
					<xs:documentation>Hospital-Cath Lab</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4222005">
				<xs:annotation>
					<xs:documentation>Hospital-CCU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4222007">
				<xs:annotation>
					<xs:documentation>Hospital-Endoscopy</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4222009">
				<xs:annotation>
					<xs:documentation>Hospital-Hospice</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4222011">
				<xs:annotation>
					<xs:documentation>Hospital-Hyperbaric Oxygen Treatment</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4222013">
				<xs:annotation>
					<xs:documentation>Hospital-ICU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4222015">
				<xs:annotation>
					<xs:documentation>Hospital-Labor &amp;amp; Delivery</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4222017">
				<xs:annotation>
					<xs:documentation>Hospital-Med/Surg</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4222019">
				<xs:annotation>
					<xs:documentation>Hospital-Mental Health</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4222021">
				<xs:annotation>
					<xs:documentation>Hospital-MICU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4222023">
				<xs:annotation>
					<xs:documentation>Hospital-NICU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4222025">
				<xs:annotation>
					<xs:documentation>Hospital-Nursery</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4222027">
				<xs:annotation>
					<xs:documentation>Hospital-Peds (General)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4222029">
				<xs:annotation>
					<xs:documentation>Hospital-Peds ICU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4222031">
				<xs:annotation>
					<xs:documentation>Hospital-OR</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4222033">
				<xs:annotation>
					<xs:documentation>Hospital-Orthopedic</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4222035">
				<xs:annotation>
					<xs:documentation>Hospital-Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4222037">
				<xs:annotation>
					<xs:documentation>Hospital-Out-Patient Bed</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4222039">
				<xs:annotation>
					<xs:documentation>Hospital-Radiology Services - MRI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4222041">
				<xs:annotation>
					<xs:documentation>Hospital-Radiology Services - CT/PET</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4222043">
				<xs:annotation>
					<xs:documentation>Hospital-Radiology Services - X-Ray</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4222045">
				<xs:annotation>
					<xs:documentation>Hospital-Radiation</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4222047">
				<xs:annotation>
					<xs:documentation>Hospital-Rehab</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4222049">
				<xs:annotation>
					<xs:documentation>Hospital-SICU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4222051">
				<xs:annotation>
					<xs:documentation>Hospital-Oncology</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4222053">
				<xs:annotation>
					<xs:documentation>Hospital-Outpatient Surgery</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IncidentPatientDisposition">
		<xs:annotation>
			<xs:documentation>Type of disposition treatment and/or transport of the patient by this EMS Unit.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="4212001">
				<xs:annotation>
					<xs:documentation>Assist, Agency</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4212003">
				<xs:annotation>
					<xs:documentation>Assist, Public</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4212005">
				<xs:annotation>
					<xs:documentation>Assist, Unit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4212007">
				<xs:annotation>
					<xs:documentation>Canceled (Prior to Arrival At Scene)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4212009">
				<xs:annotation>
					<xs:documentation>Canceled on Scene (No Patient Contact)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4212011">
				<xs:annotation>
					<xs:documentation>Canceled on Scene (No Patient Found)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4212013">
				<xs:annotation>
					<xs:documentation>Patient Dead at Scene-No Resuscitation Attempted (With Transport)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4212015">
				<xs:annotation>
					<xs:documentation>Patient Dead at Scene-No Resuscitation Attempted (Without Transport)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4212017">
				<xs:annotation>
					<xs:documentation>Patient Dead at Scene-Resuscitation Attempted (With Transport)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4212019">
				<xs:annotation>
					<xs:documentation>Patient Dead at Scene-Resuscitation Attempted (Without Transport)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4212021">
				<xs:annotation>
					<xs:documentation>Patient Evaluated, No Treatment/Transport Required</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4212023">
				<xs:annotation>
					<xs:documentation>Patient Refused Evaluation/Care (With Transport)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4212025">
				<xs:annotation>
					<xs:documentation>Patient Refused Evaluation/Care (Without Transport)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4212027">
				<xs:annotation>
					<xs:documentation>Patient Treated, Released (AMA)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4212029">
				<xs:annotation>
					<xs:documentation>Patient Treated, Released (per protocol)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4212031">
				<xs:annotation>
					<xs:documentation>Patient Treated, Transferred Care to Another EMS Unit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4212033">
				<xs:annotation>
					<xs:documentation>Patient Treated, Transported by this EMS Unit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4212035">
				<xs:annotation>
					<xs:documentation>Patient Treated, Transported by Law Enforcement</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4212037">
				<xs:annotation>
					<xs:documentation>Patient Treated, Transported by Private Vehicle</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4212039">
				<xs:annotation>
					<xs:documentation>Standby-No Services or Support Provided</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4212041">
				<xs:annotation>
					<xs:documentation>Standby-Public Safety, Fire, or EMS Operational Support Provided</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4212043">
				<xs:annotation>
					<xs:documentation>Transport Non-Patient, Organs, etc.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumberOfPatients">
		<xs:annotation>
			<xs:documentation>The number of patients transported by this EMS crew and unit.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1"></xs:minInclusive>
			<xs:maxInclusive value="100"></xs:maxInclusive>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PositionOfPatientDuringTransport">
		<xs:annotation>
			<xs:documentation>The position of the patient during transport from the scene</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="4214001">
				<xs:annotation>
					<xs:documentation>Car Seat</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4214003">
				<xs:annotation>
					<xs:documentation>Fowlers (Semi-Upright Sitting)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4214005">
				<xs:annotation>
					<xs:documentation>Lateral Left</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4214007">
				<xs:annotation>
					<xs:documentation>Lateral Right</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4214009">
				<xs:annotation>
					<xs:documentation>Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4214011">
				<xs:annotation>
					<xs:documentation>Prone</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4214013">
				<xs:annotation>
					<xs:documentation>Semi-Fowlers</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4214015">
				<xs:annotation>
					<xs:documentation>Sitting</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4214017">
				<xs:annotation>
					<xs:documentation>Supine</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4214019">
				<xs:annotation>
					<xs:documentation>Trendelenburg</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReasonForChoosingDestination">
		<xs:annotation>
			<xs:documentation>The reason the unit chose to deliver or transfer the patient to the destination</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="4220001">
				<xs:annotation>
					<xs:documentation>Closest Facility</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4220003">
				<xs:annotation>
					<xs:documentation>Diversion</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4220005">
				<xs:annotation>
					<xs:documentation>Family Choice</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4220007">
				<xs:annotation>
					<xs:documentation>Insurance Status/Requirement</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4220009">
				<xs:annotation>
					<xs:documentation>Law Enforcement Choice</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4220011">
				<xs:annotation>
					<xs:documentation>On-Line/On-Scene Medical Direction</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4220013">
				<xs:annotation>
					<xs:documentation>Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4220015">
				<xs:annotation>
					<xs:documentation>Patient's Choice</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4220017">
				<xs:annotation>
					<xs:documentation>Patient's Physician's Choice</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4220019">
				<xs:annotation>
					<xs:documentation>Protocol</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4220021">
				<xs:annotation>
					<xs:documentation>Regional Specialty Center</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TransportModeFromScene">
		<xs:annotation>
			<xs:documentation>Indication whether the transport was emergent or non-emergent.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="4217001">
				<xs:annotation>
					<xs:documentation>Emergent (Immediate Response)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4217003">
				<xs:annotation>
					<xs:documentation>Emergent Downgraded to Non-Emergent</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4217005">
				<xs:annotation>
					<xs:documentation>Non-Emergent</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4217007">
				<xs:annotation>
					<xs:documentation>Non-Emergent Upgraded to Emergent</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeOfDestination">
		<xs:annotation>
			<xs:documentation>The type of destination the patient was delivered or transferred to</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="4221001">
				<xs:annotation>
					<xs:documentation>Home</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4221003">
				<xs:annotation>
					<xs:documentation>Hospital-Emergency Department</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4221005">
				<xs:annotation>
					<xs:documentation>Hospital-Non-Emergency Department Bed</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4221007">
				<xs:annotation>
					<xs:documentation>Medical Office/Clinic</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4221009">
				<xs:annotation>
					<xs:documentation>Morgue/Mortuary</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4221011">
				<xs:annotation>
					<xs:documentation>Nursing Home/Assisted Living Facility</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4221013">
				<xs:annotation>
					<xs:documentation>Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4221015">
				<xs:annotation>
					<xs:documentation>Other EMS Responder (air)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4221017">
				<xs:annotation>
					<xs:documentation>Other EMS Responder (ground)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4221019">
				<xs:annotation>
					<xs:documentation>Police/Jail</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4221021">
				<xs:annotation>
					<xs:documentation>Urgent Care</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4221023">
				<xs:annotation>
					<xs:documentation>Freestanding Emergency Department</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FinalPatientAcuity">
		<xs:annotation>
			<xs:documentation>The patient's response.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="4219001">
				<xs:annotation>
					<xs:documentation>Critical (Red)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4219003">
				<xs:annotation>
					<xs:documentation>Emergent (Yellow)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4219005">
				<xs:annotation>
					<xs:documentation>Lower Acuity (Green)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4219007">
				<xs:annotation>
					<xs:documentation>Dead without Resuscitation Efforts (Black)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>