XSDs/NEMSIS_NAT_XSDs/eHistory_v3.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.nemsis.org" targetNamespace="http://www.nemsis.org" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="commonTypes_v3.xsd"></xs:include>
	<xs:complexType name="eHistory" id="eHistory.MedicalHistory">
		<xs:sequence>
			<xs:element name="eHistory.01" nillable="true" id="eHistory.BarrierstoPatientCare" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eHistory.01</number>
							<name>Barriers to Patient Care</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>Indication of whether or not there were any patient specific barriers to serving the patient at the scene</definition>
							<v2Number>E12_01</v2Number>
							<usage>Required</usage>
							<comment>Added Obesity, Sight Impaired, Psychologically Impaired</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="BarriersToPatientCare">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
								</xs:simpleType>
							</xs:attribute>
							
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			
			
			
			
			
			
			
			
			
			<xs:element name="eHistory.17" nillable="true" id="eHistory.AlcoholDrugUseIndicators" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eHistory.17</number>
							<name>Alcohol/Drug Use Indicators</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>Indicators for the potential use of alcohol or drugs by the patient related to the patient's current illness or injury.</definition>
							<v2Number>E12_19</v2Number>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<PNNil>Yes</PNNil>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="AlcoholDrugUseIndicators">
							<xs:attribute name="PN" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="PN.NoneReported PN.Refused PN.UnableToComplete"></xs:union>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
								</xs:simpleType>
							</xs:attribute>
							
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			
			
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AdvanceDirectives">
		<xs:annotation>
			<xs:documentation>The presence of a valid for of living will of document directing end of life or healthcare treatment decisions</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="3105001">
				<xs:annotation>
					<xs:documentation>Family/Guardian request DNR (but no documentation)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3105003">
				<xs:annotation>
					<xs:documentation>Living Will</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3105005">
				<xs:annotation>
					<xs:documentation>None</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3105007">
				<xs:annotation>
					<xs:documentation>Other (Not Listed)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3105009">
				<xs:annotation>
					<xs:documentation>Other Healthcare Advanced Directive Form</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3105011">
				<xs:annotation>
					<xs:documentation>State EMS DNR or Medical Order Form</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlcoholDrugUseIndicators">
		<xs:annotation>
			<xs:documentation>Indicators for the potential use of Alcohol or Drugs by the patient.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="3117001">
				<xs:annotation>
					<xs:documentation>Alcohol Containers/Paraphernalia at Scene</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3117003">
				<xs:annotation>
					<xs:documentation>Drug Paraphernalia at Scene</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3117005">
				<xs:annotation>
					<xs:documentation>Patient Admits to Alcohol Use</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3117007">
				<xs:annotation>
					<xs:documentation>Patient Admits to Drug Use</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3117009">
				<xs:annotation>
					<xs:documentation>Positive Level known from Law Enforcement or Hospital Record</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3117011">
				<xs:annotation>
					<xs:documentation>Smell of Alcohol on Breath</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BarriersToPatientCare">
		<xs:annotation>
			<xs:documentation>Indication of whether or not there were any patient specific barriers to serving the patient at the scene</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="3101001">
				<xs:annotation>
					<xs:documentation>Cultural, Custom, Religious</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3101003">
				<xs:annotation>
					<xs:documentation>Developmentally Impaired</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3101005">
				<xs:annotation>
					<xs:documentation>Hearing Impaired</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3101007">
				<xs:annotation>
					<xs:documentation>Language</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3101009">
				<xs:annotation>
					<xs:documentation>None Noted</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3101011">
				<xs:annotation>
					<xs:documentation>Obesity</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3101013">
				<xs:annotation>
					<xs:documentation>Physical Barrier (Unable to Access Patient)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3101015">
				<xs:annotation>
					<xs:documentation>Physically Impaired</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3101017">
				<xs:annotation>
					<xs:documentation>Physically Restrained</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3101019">
				<xs:annotation>
					<xs:documentation>Psychologically Impaired</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3101021">
				<xs:annotation>
					<xs:documentation>Sight Impaired</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3101023">
				<xs:annotation>
					<xs:documentation>Speech Impaired</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3101025">
				<xs:annotation>
					<xs:documentation>Unattended or Unsupervised (including minors)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3101027">
				<xs:annotation>
					<xs:documentation>Unconscious</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3101029">
				<xs:annotation>
					<xs:documentation>Uncooperative</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrentMedicationDosageUnit">
		<xs:annotation>
			<xs:documentation>The dosage unit of the patient's current medication</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="3114001">
				<xs:annotation>
					<xs:documentation>cm</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3114003">
				<xs:annotation>
					<xs:documentation>gms</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3114005">
				<xs:annotation>
					<xs:documentation>gtts (drops)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3114007">
				<xs:annotation>
					<xs:documentation>inches</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3114009">
				<xs:annotation>
					<xs:documentation>iu</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3114011">
				<xs:annotation>
					<xs:documentation>kvo (keep vein open)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3114013">
				<xs:annotation>
					<xs:documentation>l/min (fluid administration)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3114015">
				<xs:annotation>
					<xs:documentation>liters</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3114017">
				<xs:annotation>
					<xs:documentation>LPM (gas administration)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3114019">
				<xs:annotation>
					<xs:documentation>mcg</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3114021">
				<xs:annotation>
					<xs:documentation>mcg/kg/min</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3114023">
				<xs:annotation>
					<xs:documentation>mcg/min</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3114025">
				<xs:annotation>
					<xs:documentation>meq</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3114027">
				<xs:annotation>
					<xs:documentation>metered dose</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3114029">
				<xs:annotation>
					<xs:documentation>mg</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3114031">
				<xs:annotation>
					<xs:documentation>mg/kg</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3114033">
				<xs:annotation>
					<xs:documentation>mg/kg/min</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3114035">
				<xs:annotation>
					<xs:documentation>mg/min</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3114037">
				<xs:annotation>
					<xs:documentation>ml</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3114039">
				<xs:annotation>
					<xs:documentation>ml/hr</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3114041">
				<xs:annotation>
					<xs:documentation>other (Not Listed)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3114043">
				<xs:annotation>
					<xs:documentation>puffs</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3114045">
				<xs:annotation>
					<xs:documentation>units/hr</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrentMedicationDose">
		<xs:annotation>
			<xs:documentation>The numeric dose or amount of the patient's current medication</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="9"></xs:totalDigits>
			<xs:fractionDigits value="3"></xs:fractionDigits>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MedicationAllergies">
		<xs:annotation>
			<xs:documentation>MedicationAllergies</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(Z88\.[0-9])|([a-zA-Z0-9]{2,7})"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MedicalHistoryObtainedFrom">
		<xs:annotation>
			<xs:documentation>Type of person medical history obtained from</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="3109001">
				<xs:annotation>
					<xs:documentation>Bystander/Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3109003">
				<xs:annotation>
					<xs:documentation>Family</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3109005">
				<xs:annotation>
					<xs:documentation>Health Care Personnel</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3109007">
				<xs:annotation>
					<xs:documentation>Patient</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Pregnancy">
		<xs:annotation>
			<xs:documentation>Indication of the possibility by the patient's history of a current pregnancy.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="3118001">
				<xs:annotation>
					<xs:documentation>No</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3118003">
				<xs:annotation>
					<xs:documentation>Possible, Unconfirmed</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3118005">
				<xs:annotation>
					<xs:documentation>Yes, Confirmed 12 to 20 Weeks</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3118007">
				<xs:annotation>
					<xs:documentation>Yes, Confirmed Greater Than 20 Weeks</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3118009">
				<xs:annotation>
					<xs:documentation>Yes, Confirmed Less Than 12 Weeks</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3118011">
				<xs:annotation>
					<xs:documentation>Yes, Weeks Unknown</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>