XSDs/NEMSIS_NAT_XSDs/eMedications_v3.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.nemsis.org" targetNamespace="http://www.nemsis.org" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="commonTypes_v3.xsd"></xs:include>
	<xs:complexType name="eMedications">
		<xs:sequence>
			<xs:element name="eMedications.MedicationGroup" id="eMedications.eMedications.MedicationGroup" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Group Tag to hold eMedication information</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="eMedications.01" nillable="true" id="eMedications.eMedications.DateTimeMedicationAdministered">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>eMedications.01</number>
										<name>Date/Time Medication Administered</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>The date/time medication administered to the patient</definition>
										<v2Number>E18_01</v2Number>
										<usage>Required</usage>
										<performanceMeasuresGroup>
											<performanceMeasure>Airway</performanceMeasure>
											<performanceMeasure>Cardiac Arrest</performanceMeasure>
											<performanceMeasure>Pediatric</performanceMeasure>
											<performanceMeasure>STEMI</performanceMeasure>
											<performanceMeasure>Stroke</performanceMeasure>
											<performanceMeasure>Trauma</performanceMeasure>
										</performanceMeasuresGroup>
										<comment>DateTime consists of finite-length characters of the form: yyyy '-' mm '-' dd 'T' hh ':' mm ':' ss ('.' s+)? (zzzzzz)
&lt;table  cellspacing="2">&lt;tr>&lt;td>							
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">yyyy&lt;/td>&lt;td>a four-digit numeral that represents the year&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>separators between parts of the date portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the month&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">dd&lt;/td>&lt;td>a two-digit numeral that represents the day&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">T&lt;/td>&lt;td>separator that indicates time-of-day follows&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral that represents the hour&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">':'&lt;/td>&lt;td>a separator between parts of the time-of-day portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minute&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">ss&lt;/td>&lt;td>a two-integer-digit numeral that represents the whole seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'.' s+&lt;/td>&lt;td>(not required) represents the fractional seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">zzzzzz&lt;/td>&lt;td>(required) represents the timezone (as described below)&lt;/td>&lt;/tr>
&lt;/table> 
&lt;/td>&lt;/tr>&lt;/table>
&lt;br/>Timezones, required, are durations with (integer-valued) hour and minute properties in the form: ('+' | '-') hh ':' mm   
&lt;table cellspacing="2">&lt;tr>&lt;td>	
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral (with leading zeros as required) that represents the hours&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minutes&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'+'&lt;/td>&lt;td>a nonnegative duration&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>a nonpositive duration&lt;/td>&lt;/tr>
&lt;/table>
&lt;/td>&lt;/tr>&lt;/table></comment>
										<v3Changes></v3Changes>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="DateTimeType">
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="eMedications.02" nillable="true" id="eMedications.eMedications.MedicationAdministeredPriortothisUnitsEMSCare">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>eMedications.02</number>
										<name>Medication Administered Prior to this Units EMS Care</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>Indicates that the medication administration which is documented was administered prior to this EMS units care</definition>
										<v2Number>E18_02</v2Number>
										<usage>Required</usage>
										<performanceMeasuresGroup>
											<performanceMeasure>Airway</performanceMeasure>
											<performanceMeasure>Cardiac Arrest</performanceMeasure>
											<performanceMeasure>Pediatric</performanceMeasure>
											<performanceMeasure>STEMI</performanceMeasure>
											<performanceMeasure>Stroke</performanceMeasure>
											<performanceMeasure>Trauma</performanceMeasure>
										</performanceMeasuresGroup>
										<comment>This is the NEMSIS Version 3 method to document prior aid.</comment>
										<v3Changes></v3Changes>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="YesNoValues">
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotRecorded NV.NotReporting"></xs:union>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="eMedications.03" nillable="true" id="eMedications.eMedications.MedicationGiven">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>eMedications.03</number>
										<name>Medication Given</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>The medication given to the patient</definition>
										<v2Number>E18_03</v2Number>
										<usage>Required</usage>
										<performanceMeasuresGroup>
											<performanceMeasure>Airway</performanceMeasure>
											<performanceMeasure>Cardiac Arrest</performanceMeasure>
											<performanceMeasure>Pediatric</performanceMeasure>
											<performanceMeasure>STEMI</performanceMeasure>
											<performanceMeasure>Stroke</performanceMeasure>
											<performanceMeasure>Trauma</performanceMeasure>
										</performanceMeasuresGroup>
										<comment>List of medications based on RxNorm (RXCUI) code. See suggested NEMSIS list of medication codes.
&lt;br/>RxNorm
&lt;br/>Website - http://uts.nlm.nih.gov

&lt;br/>&lt;br/>Product - UMLS Metathesaurus
&lt;br/>Website - http://www.nlm.nih.gov/research/umls/rxnorm/docs/rxnormfiles.html
&lt;br/>Product - RxNorm Full Monthly Release
</comment>
										<v3Changes></v3Changes>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="Medication">
										<xs:attribute name="PN" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="PN.ContraindicationNoted PN.DeniedByOrder PN.MedicationAllergy PN.MedicationAlreadyTaken PN.Refused PN.UnableToComplete"></xs:union>
											</xs:simpleType>
										</xs:attribute>
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
									
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						
						<xs:element name="eMedications.DosageGroup" id="eMedications.eMedications.DosageGroup">
							<xs:annotation>
								<xs:documentation>Group Tag to hold info about the medication dosage given to the patient </xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="eMedications.05" nillable="true" id="eMedications.eMedications.MedicationDosage">
										<xs:annotation>
											<xs:documentation>
												<nemsisTacDoc>
													<number>eMedications.05</number>
													<name>Medication Dosage</name>
													<national>Yes</national>
													<state>Yes</state>
													<definition>The dose or amount of the medication given to the patient</definition>
													<v2Number>E18_05</v2Number>
													<usage>Required</usage>
													<performanceMeasure></performanceMeasure>
													<comment></comment>
													<v3Changes></v3Changes>
												</nemsisTacDoc>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="MedicationDosage">
													<xs:attribute name="NV" use="optional">
														<xs:simpleType>
															<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
														</xs:simpleType>
													</xs:attribute>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="eMedications.06" nillable="true" id="eMedications.eMedications.MedicationDosageUnits">
										<xs:annotation>
											<xs:documentation>
												<nemsisTacDoc>
													<number>eMedications.06</number>
													<name>Medication Dosage Units</name>
													<national>Yes</national>
													<state>Yes</state>
													<definition>The unit of medication dosage given to patient</definition>
													<v2Number>E18_06</v2Number>
													<usage>Required</usage>
													<performanceMeasure></performanceMeasure>
													<comment></comment>
													<v3Changes></v3Changes>
												</nemsisTacDoc>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="MedicationDosageUnits">
													<xs:attribute name="NV" use="optional">
														<xs:simpleType>
															<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
														</xs:simpleType>
													</xs:attribute>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="eMedications.07" nillable="true" id="eMedications.eMedications.ResponsetoMedication">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>eMedications.07</number>
										<name>Response to Medication</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>The patient's response to the medication</definition>
										<v2Number>E18_07</v2Number>
										<usage>Required</usage>
										<performanceMeasure></performanceMeasure>
										<comment></comment>
										<v3Changes></v3Changes>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="Response">
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="eMedications.08" nillable="true" id="eMedications.eMedications.MedicationComplication" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>eMedications.08</number>
										<name>Medication Complication</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>Any complication (abnormal effect on the patient) associated with the administration of the medication to the patient by EMS</definition>
										<v2Number>E18_08</v2Number>
										<usage>Required</usage>
										<performanceMeasure></performanceMeasure>
										<comment></comment>
										<v3Changes></v3Changes>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="MedicationComplication">
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
											</xs:simpleType>
										</xs:attribute>
										<xs:attribute name="CorrelationID" type="CorrelationID" use="optional"></xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						
						<xs:element name="eMedications.10" nillable="true" id="eMedications.eMedications.EMSorHealthcareProfessionalTypeAdministeringMedication">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>eMedications.10</number>
										<name>Role/Type of Person Administering Medication</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>The type (level) of EMS or Healthcare Professional Administering the Medication. For medications administered prior to EMS arrival, this may be a non-EMS healthcare professional.</definition>
										<v2Number></v2Number>
										<usage>Required</usage>
										<performanceMeasure></performanceMeasure>
										<comment>Added to document the type of healthcare professional administering the medication.  This could be auto-completed from the crew ID but is necessary to document medication administration prior to EMS arrival. State may maintain an enumerated list but must collapse to the National Standard.
										&lt;br/>&lt;br/>The category EMT-Intermediate includes EMS professionals with an “85” or “99” certification level.
										</comment>
										<v3Changes>Added to better document the type of healthcare professional who administered the medication.</v3Changes>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="EMSCaregiverLevel">
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						
						
					</xs:sequence>
					<xs:attribute name="CorrelationID" type="CorrelationID" use="optional"></xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="MedicationAdministeredRoute">
		<xs:annotation>
			<xs:documentation>The route medication was administered to the patient</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="3704001">
				<xs:annotation>
					<xs:documentation>Endotracheal tube</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3704003">
				<xs:annotation>
					<xs:documentation>Gastrostomy tube</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3704005">
				<xs:annotation>
					<xs:documentation>Inhalation</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3704007">
				<xs:annotation>
					<xs:documentation>Intraarterial</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3704009">
				<xs:annotation>
					<xs:documentation>Intramuscular</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3704011">
				<xs:annotation>
					<xs:documentation>Intranasal</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3704013">
				<xs:annotation>
					<xs:documentation>Intraocular</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3704015">
				<xs:annotation>
					<xs:documentation>Intraosseous</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3704017">
				<xs:annotation>
					<xs:documentation>Intravenous</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3704019">
				<xs:annotation>
					<xs:documentation>Nasal</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3704021">
				<xs:annotation>
					<xs:documentation>Nasal prongs</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3704023">
				<xs:annotation>
					<xs:documentation>Nasogastric</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3704025">
				<xs:annotation>
					<xs:documentation>Nasotracheal Tube</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3704027">
				<xs:annotation>
					<xs:documentation>Ophthalmic</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3704029">
				<xs:annotation>
					<xs:documentation>Oral</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3704031">
				<xs:annotation>
					<xs:documentation>Other/miscellaneous</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3704033">
				<xs:annotation>
					<xs:documentation>Otic</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3704035">
				<xs:annotation>
					<xs:documentation>Re-breather mask</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3704037">
				<xs:annotation>
					<xs:documentation>Rectal</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3704039">
				<xs:annotation>
					<xs:documentation>Subcutaneous</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3704041">
				<xs:annotation>
					<xs:documentation>Sublingual</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3704043">
				<xs:annotation>
					<xs:documentation>Topical</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3704045">
				<xs:annotation>
					<xs:documentation>Tracheostomy</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3704047">
				<xs:annotation>
					<xs:documentation>Transdermal</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3704049">
				<xs:annotation>
					<xs:documentation>Urethral</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3704051">
				<xs:annotation>
					<xs:documentation>Ventimask</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3704053">
				<xs:annotation>
					<xs:documentation>Wound</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MedicationComplication">
		<xs:annotation>
			<xs:documentation>Any complication (abnormal effect on the patient) associated with the administration of the medication to the patient by EMS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="3708001">
				<xs:annotation>
					<xs:documentation>Altered Mental Status</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3708003">
				<xs:annotation>
					<xs:documentation>Apnea</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3708005">
				<xs:annotation>
					<xs:documentation>Bleeding</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3708007">
				<xs:annotation>
					<xs:documentation>Bradycardia</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3708009">
				<xs:annotation>
					<xs:documentation>Bradypnea</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3708011">
				<xs:annotation>
					<xs:documentation>Diarrhea</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3708013">
				<xs:annotation>
					<xs:documentation>Extravasation</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3708015">
				<xs:annotation>
					<xs:documentation>Hypertension</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3708017">
				<xs:annotation>
					<xs:documentation>Hyperthermia</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3708019">
				<xs:annotation>
					<xs:documentation>Hypotension</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3708021">
				<xs:annotation>
					<xs:documentation>Hypothermia</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3708023">
				<xs:annotation>
					<xs:documentation>Hypoxia</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3708025">
				<xs:annotation>
					<xs:documentation>Injury</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3708027">
				<xs:annotation>
					<xs:documentation>Itching/Urticaria</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3708029">
				<xs:annotation>
					<xs:documentation>Nausea</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3708031">
				<xs:annotation>
					<xs:documentation>None</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3708033">
				<xs:annotation>
					<xs:documentation>Other (Not Listed)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3708035">
				<xs:annotation>
					<xs:documentation>Respiratory Distress</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3708037">
				<xs:annotation>
					<xs:documentation>Tachycardia</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3708039">
				<xs:annotation>
					<xs:documentation>Tachypnea</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3708041">
				<xs:annotation>
					<xs:documentation>Vomiting</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MedicationDosage">
		<xs:annotation>
			<xs:documentation>The dose or amount of the medication given to the patient</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="8"></xs:totalDigits>
			<xs:fractionDigits value="2"></xs:fractionDigits>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MedicationDosageUnits">
		<xs:annotation>
			<xs:documentation>The unit of medication dosage given to patient</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="3706001">
				<xs:annotation>
					<xs:documentation>Grams</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3706003">
				<xs:annotation>
					<xs:documentation>Inches</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3706005">
				<xs:annotation>
					<xs:documentation>International Units</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3706007">
				<xs:annotation>
					<xs:documentation>Keep Vein Open (To Keep Open)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3706009">
				<xs:annotation>
					<xs:documentation>Liters</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3706011">
				<xs:annotation>
					<xs:documentation>Liters Per Minute</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3706013">
				<xs:annotation>
					<xs:documentation>MDI Puffs</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3706015">
				<xs:annotation>
					<xs:documentation>Micrograms</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3706017">
				<xs:annotation>
					<xs:documentation>Micrograms per Kilogram per Minute</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3706019">
				<xs:annotation>
					<xs:documentation>Milliequivalents</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3706021">
				<xs:annotation>
					<xs:documentation>Milligrams</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3706023">
				<xs:annotation>
					<xs:documentation>Milligrams Per Kilogram Per Minute</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3706025">
				<xs:annotation>
					<xs:documentation>Milliliters</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3706027">
				<xs:annotation>
					<xs:documentation>Milliliters Per Hour</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3706029">
				<xs:annotation>
					<xs:documentation>Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>