XSDs/NEMSIS_NAT_XSDs/ePatient_v3.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.nemsis.org" targetNamespace="http://www.nemsis.org" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="commonTypes_v3.xsd"></xs:include>
	<xs:complexType name="ePatient" id="ePatient.Patient">
		<xs:sequence>
			
			
			
			
			<xs:element name="ePatient.07" nillable="true" id="ePatient.PatientsHomeCounty">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>ePatient.07</number>
							<name>Patient's Home County</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The patient's home county or parish of residence.</definition>
							<v2Number>E06_06</v2Number>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>Based on the ANSI Code Single Choice based on the County Name but stored as the ANSI code (combined 5 digit State and County codes) Should be required if there is a patient associated with the event.
							&lt;br/>&lt;br/>GNIS Codes Website: &lt;a>http://geonames.usgs.gov/domestic/download_data.htm&lt;/a></comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ANSICountyCode">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ePatient.08" nillable="true" id="ePatient.PatientsHomeState">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>ePatient.08</number>
							<name>Patient's Home State</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The state, territory, or province where the patient resides.</definition>
							<v2Number>E06_07</v2Number>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>The ANSI Code Selection by text but stored as ANSI code.&lt;br/>&lt;br/>GNIS Codes Website: &lt;a>http://geonames.usgs.gov/domestic/download_data.htm&lt;/a></comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ANSIStateCode">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ePatient.09" nillable="true" id="ePatient.PatientsHomeZIPCode">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>ePatient.09</number>
							<name>Patient's Home ZIP Code</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The patient's ZIP code of residence.</definition>
							<v2Number>E06_08</v2Number>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>ZIP Codes Product Website: &lt;a>https://www.zipcodedownload.com/Products/Product/Z5Commercial/Standard/Overview/&lt;/a>
&lt;br/>Product: USA - 5-digit ZIP Code Database, Commercial Edition</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ZIP">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			
			
			
			<xs:element name="ePatient.13" nillable="true" id="ePatient.Gender">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>ePatient.13</number>
							<name>Gender</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The Patient's Gender</definition>
							<v2Number>E06_11</v2Number>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="Gender">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ePatient.14" nillable="true" id="ePatient.Race" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>ePatient.14</number>
							<name>Race</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The patient's race as defined by the OMB (US Office of Management and Budget)</definition>
							<v2Number>E06_12</v2Number>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>OMB requirements are provided at: https://grants.nih.gov/grants/guide/notice-files/NOT-OD-15-089.html. Using single multiple choice question methodology to improve the completion of ethnicity information.&lt;br/>&lt;br/>Ethnicity (Version 2.2.1: E06_13) has been merged with this data element and retired.</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="Race">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
								</xs:simpleType>
							</xs:attribute>
							
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ePatient.AgeGroup" id="ePatient.AgeGroup">
				<xs:annotation>
					<xs:documentation>Group Tag to hold patient's age information</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ePatient.15" nillable="true" id="ePatient.Age">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>ePatient.15</number>
										<name>Age</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>The patient's age (either calculated from date of birth or best approximation)</definition>
										<v2Number>E06_14</v2Number>
										<usage>Required</usage>
										<performanceMeasuresGroup>
											<performanceMeasure>Airway</performanceMeasure>
											<performanceMeasure>Cardiac Arrest</performanceMeasure>
											<performanceMeasure>Pediatric</performanceMeasure>
											<performanceMeasure>Response</performanceMeasure>
											<performanceMeasure>STEMI</performanceMeasure>
											<performanceMeasure>Stroke</performanceMeasure>
											<performanceMeasure>Trauma</performanceMeasure>
										</performanceMeasuresGroup>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="Age">
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="ePatient.16" nillable="true" id="ePatient.AgeUnits">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>ePatient.16</number>
										<name>Age Units</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>The unit used to define the patient's age</definition>
										<v2Number>E06_15</v2Number>
										<usage>Required</usage>
										<performanceMeasuresGroup>
											<performanceMeasure>Airway</performanceMeasure>
											<performanceMeasure>Cardiac Arrest</performanceMeasure>
											<performanceMeasure>Pediatric</performanceMeasure>
											<performanceMeasure>Response</performanceMeasure>
											<performanceMeasure>STEMI</performanceMeasure>
											<performanceMeasure>Stroke</performanceMeasure>
											<performanceMeasure>Trauma</performanceMeasure>
										</performanceMeasuresGroup>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="AgeUnits">
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			
			
			
			
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Age">
		<xs:annotation>
			<xs:documentation>The patient's age (either calculated from date of birth or best approximation)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"></xs:minInclusive>
			<xs:maxInclusive value="120"></xs:maxInclusive>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AgeUnits">
		<xs:annotation>
			<xs:documentation>The units which the age is documented in (Hours, Days, Months, Years)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="2516001">
				<xs:annotation>
					<xs:documentation>Days</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2516003">
				<xs:annotation>
					<xs:documentation>Hours</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2516005">
				<xs:annotation>
					<xs:documentation>Minutes</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2516007">
				<xs:annotation>
					<xs:documentation>Months</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2516009">
				<xs:annotation>
					<xs:documentation>Years</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateOfBirth">
		<xs:annotation>
			<xs:documentation>The Date on an event or occurrence.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date">
			<xs:minInclusive value="1890-01-01"></xs:minInclusive>
			<xs:maxInclusive value="2050-01-01"></xs:maxInclusive>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DriversLicenseNumber">
		<xs:annotation>
			<xs:documentation>The patient's drivers license number</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"></xs:minLength>
			<xs:maxLength value="30"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PatientID">
		<xs:annotation>
			<xs:documentation>The unique ID for the patient within the Agency</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"></xs:minLength>
			<xs:maxLength value="100"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Race">
		<xs:annotation>
			<xs:documentation>The patient's race as defined by the OMB (US Office of Management and Budget)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="2514001">
				<xs:annotation>
					<xs:documentation>American Indian or Alaska Native</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2514003">
				<xs:annotation>
					<xs:documentation>Asian</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2514005">
				<xs:annotation>
					<xs:documentation>Black or African American</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2514007">
				<xs:annotation>
					<xs:documentation>Hispanic or Latino</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2514009">
				<xs:annotation>
					<xs:documentation>Native Hawaiian or Other Pacific Islander</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2514011">
				<xs:annotation>
					<xs:documentation>White</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>