XSDs/NEMSIS_NAT_XSDs/eResponse_v3.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.nemsis.org" xmlns:sch="http://www.ascc.net/xml/schematron" targetNamespace="http://www.nemsis.org" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="commonTypes_v3.xsd"></xs:include>
	<xs:complexType name="eResponse" id="eResponse.UnitAgencyInformationType">
		<xs:annotation>
			<xs:documentation>Unit Agency Information section</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="eResponse.AgencyGroup" id="eResponse.AgencyGroup">
				<xs:annotation>
					<xs:documentation>Group Tag to hold EMS agency number and name</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="eResponse.01" type="EMSAgencyNumber" id="eResponse.EMSAgencyNumber">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>eResponse.01</number>
										<name>EMS Agency Number</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>The state-assigned provider number of the responding agency</definition>
										<v2Number>E02_01</v2Number>
										<usage>Mandatory</usage>
										<performanceMeasuresGroup>
											<performanceMeasure>Airway</performanceMeasure>
											<performanceMeasure>Cardiac Arrest</performanceMeasure>
											<performanceMeasure>Pediatric</performanceMeasure>
											<performanceMeasure>Response</performanceMeasure>
											<performanceMeasure>STEMI</performanceMeasure>
											<performanceMeasure>Stroke</performanceMeasure>
											<performanceMeasure>Trauma</performanceMeasure>
										</performanceMeasuresGroup>
										<comment>The EMS Agency Number in eResponse.01 can auto-populate from dAgency.02 EMS Agency Number in the demographic section.</comment>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="eResponse.03" nillable="true" id="eResponse.IncidentNumber">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eResponse.03</number>
							<name>Incident Number</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The incident number assigned by the 911 Dispatch System</definition>
							<v2Number>E02_02</v2Number>
							<usage>Required</usage>
							<comment>This number can be used to associate multiple EMS responses, dispatch information, and other information to the same EMS event or patient.</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="EMSIncidentNumber">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eResponse.04" nillable="true" id="eResponse.EMSResponseNumber">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eResponse.04</number>
							<name>EMS Response Number</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The internal EMS response number which is unique for each EMS Vehicle's (Unit) response to an incident within an EMS Agency.</definition>
							<v2Number>E02_03</v2Number>
							<usage>Required</usage>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="EMSResponseNumber">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eResponse.ServiceGroup" id="eResponse.ServiceGroup">
				<xs:annotation>
					<xs:documentation>Group Tag to hold details about EMS category of service and the stand by reason</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="eResponse.05" type="EMSServiceCat" id="eResponse.TypeofServiceRequested">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>eResponse.05</number>
										<name>Type of Service Requested</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>The type of service or category of service requested of the EMS Agency responding for this specific EMS event</definition>
										<v2Number>E02_04</v2Number>
										<usage>Mandatory</usage>
										<performanceMeasuresGroup>
											<performanceMeasure>Airway</performanceMeasure>
											<performanceMeasure>Cardiac Arrest</performanceMeasure>
											<performanceMeasure>Pediatric</performanceMeasure>
											<performanceMeasure>Response</performanceMeasure>
											<performanceMeasure>STEMI</performanceMeasure>
											<performanceMeasure>Stroke</performanceMeasure>
											<performanceMeasure>Trauma</performanceMeasure>
										</performanceMeasuresGroup>
										<comment>"Interfacility Transfer" has been changed to "Interfacility Transport. "Public Assistance/Other Not Listed" added for EMS 
										expanded scope events such as elderly assistance, injury prevention, public education, immunization programs, etc.</comment>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="eResponse.07" type="PrimaryRoleOfUnit" id="eResponse.PrimaryRoleoftheUnit">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eResponse.07</number>
							<name>Primary Role of the Unit</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The primary role of the EMS Unit which responded to this specific EMS event</definition>
							<v2Number>E02_05</v2Number>
							<usage>Mandatory</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>Supervisor clarified to Administrative Only. If the Supervisor is responding to assist, that would be considered Non-Transport. Transport separated into Air and Ground.  In Version 2 there was no way to identify Air Transport.</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eResponse.08" nillable="true" id="eResponse.TypeofDispatchDelay" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eResponse.08</number>
							<name>Type of Dispatch Delay</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The dispatch delays, if any, associated with the dispatch of the EMS unit to the EMS event.</definition>
							<v2Number>E02_06</v2Number>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>A dispatch delay is any time delay that occurs from the time of PSAP call (eTimes.01) to the time the unit is notified by dispatch (eTimes.03).</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="EMSDispatchDelayReason">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
								</xs:simpleType>
							</xs:attribute>
							
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eResponse.09" nillable="true" id="eResponse.TypeofResponseDelay" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eResponse.09</number>
							<name>Type of Response Delay</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The response delays, if any, of the EMS unit associated with the EMS event.</definition>
							<v2Number>E02_07</v2Number>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>Rendezvous Transport Unavailable added for situations where there is a wait for an EMS Transport Unit, a Ferry, Air Medical, etc. to return to service.
							&lt;br/>&lt;br/>A response delay is any time delay that occurs from the time the unit is notified by dispatch (eTimes.03) to the time the unit arrived on scene (eTimes.06). 
							</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="EMSUnitDelayReason">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
								</xs:simpleType>
							</xs:attribute>
							
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eResponse.10" nillable="true" id="eResponse.TypeofSceneDelay" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eResponse.10</number>
							<name>Type of Scene Delay</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The scene delays, if any, of the EMS unit associated with the EMS event.</definition>
							<v2Number>E02_08</v2Number>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>A scene delay is any time delay that occurs from the time the unit arrived on scene (eTimes.06) to the time the unit left the scene (eTimes.09).</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="EMSSceneUnitDelayReason">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
								</xs:simpleType>
							</xs:attribute>
							
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eResponse.11" nillable="true" id="eResponse.TypeofTransportDelay" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eResponse.11</number>
							<name>Type of Transport Delay</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The transport delays, if any, of the EMS unit associated with the EMS event.</definition>
							<v2Number>E02_09</v2Number>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment> 
							Rendezvous Transport Unavailable added for situations where there is a wait for an EMS Transport Unit, a Ferry, Air Medical, etc.
							&lt;br/>&lt;br/>A transport delay is any time delay that occurs from the time the unit left the scene (eTimes.09) to the time the patient arrived at the destination (eTimes.10).
							</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="EMSTransportUnitDelayReason">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
								</xs:simpleType>
							</xs:attribute>
							
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eResponse.12" nillable="true" id="eResponse.TypeofTurnAroundDelay" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eResponse.12</number>
							<name>Type of Turn-Around Delay</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The turn-around delays, if any, of EMS unit associated with the EMS event.</definition>
							<v2Number>E02_10</v2Number>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Response</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>Rendezvous Transport Unavailable added for situations where there is a wait for an EMS Transport Unit, a Ferry, Air Medical, etc. to return to service. 
&lt;br/>&lt;br/>If a patient is being transported by the unit, turn-around delay is any time delay that occurs from the time the patient arrived at the destination 		(eTimes.11) until the time the unit is back in service (eTimes.13) or unit back at the home location (eTimes.15) [whichever is the greater of the two times]. 
&lt;br/>&lt;br/>If no patient is being transported by the unit, turn-around delay is any time delay that occurs from the time the unit arrived on scene (eTimes.06) until the unit is back in service (eTimes.13) or the unit back at the home location (eTimes.15) [whichever is the greater of the two times]. 
							</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="EMSTurnaroundUnitDelayReason">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
								</xs:simpleType>
							</xs:attribute>
							
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eResponse.13" type="EMSVehicleNumber" id="eResponse.EMSVehicleUnitNumber">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eResponse.13</number>
							<name>EMS Vehicle (Unit) Number</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The unique physical vehicle number of the responding unit.</definition>
							<v2Number>E02_11</v2Number>
							<usage>Mandatory</usage>
							<comment>This is recommended to be the State Vehicle Permit Number if unique to the vehicle.  If the vehicle is not licensed by the state, this should be a unique number only associated with a specific vehicle. This element should be populated from dVehicle.01 -  Unit/Vehicle Number.</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eResponse.14" type="EMSUnitCallSign" id="eResponse.EMSUnitCallSign">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eResponse.14</number>
							<name>EMS Unit Call Sign</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The EMS unit number used to dispatch and communicate with the unit. This may be the same as the EMS Unit/Vehicle Number in many agencies.</definition>
							<v2Number>E02_12</v2Number>
							<usage>Mandatory</usage>
							<comment>"This element could be populated from a list created in dVehicle.03 EMS Unit Call Sign or dConfiguration.16 (Crew Call Sign).</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eResponse.15" type="UnitLevelOfCare" id="eResponse.LevelofCareofThisUnit">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eResponse.15</number>
							<name>Level of Care of This Unit</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The level of care (BLS or ALS) the unit is able to provide based on the units' treatment capabilities for this EMS response.</definition>
							<usage>Mandatory</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>Added to identify the level of care (license level) the EMS unit/crew can provide regardless of patient need, based on this unit's capabilities.  
								&lt;br/>&lt;br/>For example, if a unit/crew is staffed with an EMT-Intermediate or EMT-Paramedic but the unit is either licensed or stocked at a BLS level the appropriate level of care is "BLS-Basic". This is because the care provided to patients is limited to BLS skills.
							</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			
			
			
			
			
			
			<xs:element name="eResponse.23" type="EMSResponseMode" id="eResponse.ResponseModetoScene">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eResponse.23</number>
							<name>Response Mode to Scene</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The indication whether the response was emergent or non-emergent. An emergent response is an immediate response (typically using lights and sirens).</definition>
							<v2Number>E02_20</v2Number>
							<usage>Mandatory</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>Information now split between eResponse.23 (Response Mode to Scene) and eResponse.24 (Additional Response Mode Descriptors)</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eResponse.24" nillable="true" id="eResponse.AdditionalResponseModeDescriptors" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eResponse.24</number>
							<name>Additional Response Mode Descriptors</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The documentation of response mode techniques used for this EMS response.</definition>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>Descriptors have been added to better describe the EMS Response.  This includes information on whether the EMS event was schedule or unscheduled.</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="EMSAdditionalResponseMode">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"></xs:union>
								</xs:simpleType>
							</xs:attribute>
							
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="EMSAdditionalResponseMode">
		<xs:annotation>
			<xs:documentation>The documentation of response mode techniques used for this EMS response..</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="2224001">
				<xs:annotation>
					<xs:documentation>Intersection Navigation-Against Normal Light  Patterns</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2224003">
				<xs:annotation>
					<xs:documentation>Intersection Navigation-With Automated Light Changing Technology</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2224005">
				<xs:annotation>
					<xs:documentation>Intersection Navigation-With Normal Light Patterns</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2224007">
				<xs:annotation>
					<xs:documentation>Scheduled</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2224009">
				<xs:annotation>
					<xs:documentation>Speed-Enhanced per Local Policy</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2224011">
				<xs:annotation>
					<xs:documentation>Speed-Normal Traffic</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2224013">
				<xs:annotation>
					<xs:documentation>Unscheduled</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2224015">
				<xs:annotation>
					<xs:documentation>Lights and Sirens</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2224017">
				<xs:annotation>
					<xs:documentation>Lights and No Sirens</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2224019">
				<xs:annotation>
					<xs:documentation>No Lights or Sirens</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2224021">
				<xs:annotation>
					<xs:documentation>Initial No Lights or Sirens, Upgraded to Lights and Sirens</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2224023">
				<xs:annotation>
					<xs:documentation>Initial Lights and Sirens, Downgraded to No Lights or Sirens</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EMSDispatchDelayReason">
		<xs:annotation>
			<xs:documentation>The dispatch delays, if any, associated with the dispatch of the EMS unit to the patient encounter.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="2208001">
				<xs:annotation>
					<xs:documentation>Caller (Uncooperative)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2208003">
				<xs:annotation>
					<xs:documentation>Diversion/Failure (of previous unit)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2208005">
				<xs:annotation>
					<xs:documentation>High Call Volume</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2208007">
				<xs:annotation>
					<xs:documentation>Language Barrier</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2208009">
				<xs:annotation>
					<xs:documentation>Location (Inability to Obtain)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2208011">
				<xs:annotation>
					<xs:documentation>No EMS Vehicles (Units) Available</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2208013">
				<xs:annotation>
					<xs:documentation>None/No Delay</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2208015">
				<xs:annotation>
					<xs:documentation>Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2208017">
				<xs:annotation>
					<xs:documentation>Technical Failure (Computer, Phone etc.)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EMSIncidentNumber">
		<xs:annotation>
			<xs:documentation>The incident number assigned by the 911 Dispatch System</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"></xs:minLength>
			<xs:maxLength value="50"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EMSMileageOdometer">
		<xs:annotation>
			<xs:documentation>The mileage (counter or odometer reading) of the vehicle</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"></xs:fractionDigits>
			<xs:totalDigits value="8"></xs:totalDigits>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EMSResponseMode">
		<xs:annotation>
			<xs:documentation>The indication whether the response was emergent or non-emergent. An emergent response is an immediate response (typically using lights and sirens).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="2223001">
				<xs:annotation>
					<xs:documentation>Emergent (Immediate Response)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2223003">
				<xs:annotation>
					<xs:documentation>Emergent Downgraded to Non-Emergent</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2223005">
				<xs:annotation>
					<xs:documentation>Non-Emergent</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2223007">
				<xs:annotation>
					<xs:documentation>Non-Emergent Upgraded to Emergent</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EMSResponseNumber">
		<xs:annotation>
			<xs:documentation>The internal EMS response number which is unique for each EMS Vehicle's (Unit) response to an incident within an EMS Agency.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"></xs:minLength>
			<xs:maxLength value="50"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EMSSceneUnitDelayReason">
		<xs:annotation>
			<xs:documentation>The scene delays, if any, of the unit associated with the patient encounter</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="2210001">
				<xs:annotation>
					<xs:documentation>Awaiting Air Unit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2210003">
				<xs:annotation>
					<xs:documentation>Awaiting Ground Unit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2210005">
				<xs:annotation>
					<xs:documentation>Crowd</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2210007">
				<xs:annotation>
					<xs:documentation>Directions/Unable to Locate</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2210009">
				<xs:annotation>
					<xs:documentation>Distance</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2210011">
				<xs:annotation>
					<xs:documentation>Extrication</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2210013">
				<xs:annotation>
					<xs:documentation>HazMat</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2210015">
				<xs:annotation>
					<xs:documentation>Language Barrier</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2210017">
				<xs:annotation>
					<xs:documentation>None/No Delay</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2210019">
				<xs:annotation>
					<xs:documentation>Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2210021">
				<xs:annotation>
					<xs:documentation>Patient Access</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2210023">
				<xs:annotation>
					<xs:documentation>Safety-Crew/Staging</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2210025">
				<xs:annotation>
					<xs:documentation>Safety-Patient</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2210027">
				<xs:annotation>
					<xs:documentation>Staff Delay</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2210029">
				<xs:annotation>
					<xs:documentation>Traffic</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2210031">
				<xs:annotation>
					<xs:documentation>Triage/Multiple Patients</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2210033">
				<xs:annotation>
					<xs:documentation>Vehicle Crash Involving this Unit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2210035">
				<xs:annotation>
					<xs:documentation>Vehicle Failure of this Unit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2210037">
				<xs:annotation>
					<xs:documentation>Weather</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2210039">
				<xs:annotation>
					<xs:documentation>Mechanical Issue-Unit, Equipment, etc.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EMSServiceCat">
		<xs:annotation>
			<xs:documentation>The type of service or category of service requested of the EMS Agency responding for this specific EMS incident.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="2205001">
				<xs:annotation>
					<xs:documentation>911 Response (Scene)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2205003">
				<xs:annotation>
					<xs:documentation>Intercept</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2205005">
				<xs:annotation>
					<xs:documentation>Interfacility Transport</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2205007">
				<xs:annotation>
					<xs:documentation>Medical Transport</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2205009">
				<xs:annotation>
					<xs:documentation>Mutual Aid</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2205011">
				<xs:annotation>
					<xs:documentation>Public Assistance/Other Not Listed</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2205013">
				<xs:annotation>
					<xs:documentation>Standby</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EMSStandByReason">
		<xs:annotation>
			<xs:documentation>Added to document the reason for Standby and assist in administrative analysis of EMS service delivery, special event coverage, etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="2206001">
				<xs:annotation>
					<xs:documentation>Disaster Event-Drill/Exercise</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2206003">
				<xs:annotation>
					<xs:documentation>Disaster Event-Live Staging</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2206005">
				<xs:annotation>
					<xs:documentation>Education</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2206007">
				<xs:annotation>
					<xs:documentation>EMS Staging-Improve Coverage</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2206009">
				<xs:annotation>
					<xs:documentation>Fire Support-Rehab</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2206011">
				<xs:annotation>
					<xs:documentation>Fire Support-Standby</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2206013">
				<xs:annotation>
					<xs:documentation>Mass Gathering-Concert/Entertainment Event</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2206015">
				<xs:annotation>
					<xs:documentation>Mass Gathering-Fair/Community Event</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2206017">
				<xs:annotation>
					<xs:documentation>Mass Gathering-Sporting Event</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2206019">
				<xs:annotation>
					<xs:documentation>Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2206021">
				<xs:annotation>
					<xs:documentation>Public Safety Support</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EMSTransportUnitDelayReason">
		<xs:annotation>
			<xs:documentation>The transport delays, if any, of the unit associated with the patient encounter</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="2211001">
				<xs:annotation>
					<xs:documentation>Crowd</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2211003">
				<xs:annotation>
					<xs:documentation>Directions/Unable to Locate</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2211005">
				<xs:annotation>
					<xs:documentation>Distance</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2211007">
				<xs:annotation>
					<xs:documentation>Diversion</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2211009">
				<xs:annotation>
					<xs:documentation>HazMat</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2211011">
				<xs:annotation>
					<xs:documentation>None/No Delay</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2211013">
				<xs:annotation>
					<xs:documentation>Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2211015">
				<xs:annotation>
					<xs:documentation>Rendezvous Transport Unavailable</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2211017">
				<xs:annotation>
					<xs:documentation>Route Obstruction (e.g., Train)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2211019">
				<xs:annotation>
					<xs:documentation>Safety</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2211021">
				<xs:annotation>
					<xs:documentation>Staff Delay</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2211023">
				<xs:annotation>
					<xs:documentation>Traffic</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2211025">
				<xs:annotation>
					<xs:documentation>Vehicle Crash Involving this Unit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2211027">
				<xs:annotation>
					<xs:documentation>Vehicle Failure of this Unit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2211029">
				<xs:annotation>
					<xs:documentation>Weather</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2211031">
				<xs:annotation>
					<xs:documentation>Patient Condition Change (e.g., Unit Stopped)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EMSTurnaroundUnitDelayReason">
		<xs:annotation>
			<xs:documentation>The turn-around delays, if any, associated with the EMS unit associated with the patient encounter</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="2212001">
				<xs:annotation>
					<xs:documentation>Clean-up</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2212003">
				<xs:annotation>
					<xs:documentation>Decontamination</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2212005">
				<xs:annotation>
					<xs:documentation>Distance</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2212007">
				<xs:annotation>
					<xs:documentation>Documentation</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2212009">
				<xs:annotation>
					<xs:documentation>ED Overcrowding / Transfer of Care</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2212011">
				<xs:annotation>
					<xs:documentation>Equipment Failure</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2212013">
				<xs:annotation>
					<xs:documentation>Equipment/Supply Replenishment</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2212015">
				<xs:annotation>
					<xs:documentation>None/No Delay</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2212017">
				<xs:annotation>
					<xs:documentation>Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2212019">
				<xs:annotation>
					<xs:documentation>Rendezvous Transport Unavailable</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2212021">
				<xs:annotation>
					<xs:documentation>Route Obstruction (e.g., Train)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2212023">
				<xs:annotation>
					<xs:documentation>Staff Delay</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2212025">
				<xs:annotation>
					<xs:documentation>Traffic</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2212027">
				<xs:annotation>
					<xs:documentation>Vehicle Crash of this Unit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2212029">
				<xs:annotation>
					<xs:documentation>Vehicle Failure of this Unit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2212031">
				<xs:annotation>
					<xs:documentation>Weather</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2212033">
				<xs:annotation>
					<xs:documentation>EMS Crew Accompanies Patient for Facility Procedure</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EMSUnitDelayReason">
		<xs:annotation>
			<xs:documentation>The response delays, if any, of the unit associated with the patient encounter</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="2209001">
				<xs:annotation>
					<xs:documentation>Crowd</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2209003">
				<xs:annotation>
					<xs:documentation>Directions/Unable to Locate</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2209005">
				<xs:annotation>
					<xs:documentation>Distance</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2209007">
				<xs:annotation>
					<xs:documentation>Diversion (Different Incident)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2209009">
				<xs:annotation>
					<xs:documentation>HazMat</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2209011">
				<xs:annotation>
					<xs:documentation>None/No Delay</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2209013">
				<xs:annotation>
					<xs:documentation>Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2209015">
				<xs:annotation>
					<xs:documentation>Rendezvous Transport Unavailable</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2209017">
				<xs:annotation>
					<xs:documentation>Route Obstruction (e.g., Train)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2209019">
				<xs:annotation>
					<xs:documentation>Scene Safety (Not Secure for EMS)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2209021">
				<xs:annotation>
					<xs:documentation>Staff Delay</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2209023">
				<xs:annotation>
					<xs:documentation>Traffic</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2209025">
				<xs:annotation>
					<xs:documentation>Vehicle Crash Involving this Unit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2209027">
				<xs:annotation>
					<xs:documentation>Vehicle Failure of this Unit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2209029">
				<xs:annotation>
					<xs:documentation>Weather</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2209031">
				<xs:annotation>
					<xs:documentation>Mechanical Issue-Unit, Equipment, etc.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2209033">
				<xs:annotation>
					<xs:documentation>Flight Planning</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EMSVehicleNumber">
		<xs:annotation>
			<xs:documentation>The unique physical vehicle number of the responding unit.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"></xs:minLength>
			<xs:maxLength value="25"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UnitLevelOfCare">
		<xs:annotation>
			<xs:documentation>The Primary role of the EMS Unit which responded to this specific EMS incident.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="2215001">
				<xs:annotation>
					<xs:documentation>BLS-First Responder/EMR</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2215003">
				<xs:annotation>
					<xs:documentation>BLS-Basic /EMT</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2215005">
				<xs:annotation>
					<xs:documentation>BLS-AEMT</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2215007">
				<xs:annotation>
					<xs:documentation>BLS-Intermediate</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2215023">
				<xs:annotation>
					<xs:documentation>BLS-Community Paramedicine</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2215009">
				<xs:annotation>
					<xs:documentation>ALS-AEMT</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2215011">
				<xs:annotation>
					<xs:documentation>ALS-Intermediate</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2215013">
				<xs:annotation>
					<xs:documentation>ALS-Paramedic</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2215015">
				<xs:annotation>
					<xs:documentation>ALS-Community Paramedicine</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2215017">
				<xs:annotation>
					<xs:documentation>ALS-Nurse</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2215019">
				<xs:annotation>
					<xs:documentation>ALS-Physician</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2215021">
				<xs:annotation>
					<xs:documentation>Specialty Critical Care</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PrimaryRoleOfUnit">
		<xs:annotation>
			<xs:documentation>The Primary role of the EMS Unit which responded to this specific EMS incident.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="2207003">
				<xs:annotation>
					<xs:documentation>Ground Transport</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2207005">
				<xs:annotation>
					<xs:documentation>Non-Transport Administrative (e.g., Supervisor)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2207007">
				<xs:annotation>
					<xs:documentation>Non-Transport Assistance</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2207009">
				<xs:annotation>
					<xs:documentation>Non-Transport Rescue</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2207011">
				<xs:annotation>
					<xs:documentation>Air Transport-Helicopter</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2207013">
				<xs:annotation>
					<xs:documentation>Air Transport-Fixed Wing</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VehicleDispatchLocation">
		<xs:annotation>
			<xs:documentation>The EMS Location or healthcare facility name representing the geographic location of the vehicle at the time of dispatch</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"></xs:minLength>
			<xs:maxLength value="100"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>