XSDs/NEMSIS_XSDs/eCrew_v3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://www.nemsis.org" targetNamespace="http://www.nemsis.org" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="commonTypes_v3.xsd"/>
	<xs:complexType name="eCrews">
		<xs:sequence>
			<xs:element name="eCrew.CrewGroup" id="eCrew.CrewGroup" maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Group Tag to hold crew information</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="eCrew.01" nillable="true" id="eCrew.CrewMemberID" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>eCrew.01</number>
										<name>Crew Member ID</name>
										<national>No</national>
										<state>Yes</state>
										<definition>The state certification/licensure ID number assigned to the crew member.</definition>
										<v2Number>E04_01</v2Number>
										<usage>Recommended</usage>
										<performanceMeasuresGroup>
											<performanceMeasure>Airway</performanceMeasure>
											<performanceMeasure>Cardiac Arrest</performanceMeasure>
											<performanceMeasure>Pediatric</performanceMeasure>
											<performanceMeasure>Response</performanceMeasure>
											<performanceMeasure>STEMI</performanceMeasure>
											<performanceMeasure>Stroke</performanceMeasure>
											<performanceMeasure>Trauma</performanceMeasure>
										</performanceMeasuresGroup>
										<comment>Document the state certification/licensure ID for the state where the event occurred.</comment>
										<v3Changes/>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="CrewMemberID">
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotRecorded NV.NotReporting"/>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="eCrew.02" nillable="true" id="eCrew.CrewMemberLevel" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>eCrew.02</number>
										<name>Crew Member Level</name>
										<national>No</national>
										<state>Yes</state>
										<definition>The functioning level of the crew member ID during this EMS patient encounter.</definition>
										<v2Number>E04_03</v2Number>
										<usage>Recommended</usage>
										<performanceMeasuresGroup>
											<performanceMeasure>Airway</performanceMeasure>
											<performanceMeasure>Cardiac Arrest</performanceMeasure>
											<performanceMeasure>Pediatric</performanceMeasure>
											<performanceMeasure>Response</performanceMeasure>
											<performanceMeasure>STEMI</performanceMeasure>
											<performanceMeasure>Stroke</performanceMeasure>
											<performanceMeasure>Trauma</performanceMeasure>
										</performanceMeasuresGroup>
										<comment>The category EMT-Intermediate includes EMS professionals with an “85” or “99” certification level.</comment>
										<v3Changes/>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="CrewMemberLevel">
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotRecorded NV.NotReporting"/>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="eCrew.03" nillable="true" id="eCrew.CrewMemberResponseRole" maxOccurs="unbounded" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>eCrew.03</number>
										<name>Crew Member Response Role</name>
										<national>No</national>
										<state>Yes</state>
										<definition>The role(s) of the role member during response, at scene treatment, and/or transport.</definition>
										<v2Number>E04_02</v2Number>
										<usage>Recommended</usage>
										<performanceMeasuresGroup>
											<performanceMeasure>Airway</performanceMeasure>
											<performanceMeasure>Cardiac Arrest</performanceMeasure>
											<performanceMeasure>Pediatric</performanceMeasure>
											<performanceMeasure>Response</performanceMeasure>
											<performanceMeasure>STEMI</performanceMeasure>
											<performanceMeasure>Stroke</performanceMeasure>
											<performanceMeasure>Trauma</performanceMeasure>
										</performanceMeasuresGroup>
										<comment>This element has been changed to allow for multiple selections. There must be a driver for response and transport. There must be a primary patient caregiver for scene and transport.</comment>
										<v3Changes/>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="CrewMemberRoles">
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotRecorded NV.NotReporting"/>
											</xs:simpleType>
										</xs:attribute><xs:attribute name="CorrelationID" type="CorrelationID" use="optional"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence><xs:attribute name="CorrelationID" type="CorrelationID" use="optional"/>
				</xs:complexType>
			</xs:element>
		 </xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CrewMemberLevel">
		<xs:annotation>
			<xs:documentation> The functioning level of the crew member during this EMS patient encounter</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="2302001">
				<xs:annotation>
					<xs:documentation>2009 Advanced Emergency Medical Technician (AEMT)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2302003">
				<xs:annotation>
					<xs:documentation>2009 Emergency Medical Responder (EMR)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2302005">
				<xs:annotation>
					<xs:documentation>2009 Emergency Medical Technician (EMT)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2302007">
				<xs:annotation>
					<xs:documentation>2009 Paramedic</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2302009">
				<xs:annotation>
					<xs:documentation>First Responder</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2302011">
				<xs:annotation>
					<xs:documentation>EMT-Basic</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2302013">
				<xs:annotation>
					<xs:documentation>EMT-Intermediate</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2302015">
				<xs:annotation>
					<xs:documentation>EMT-Paramedic</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2302017">
				<xs:annotation>
					<xs:documentation>Nurse</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2302019">
				<xs:annotation>
					<xs:documentation>Other Healthcare Professional</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2302021">
				<xs:annotation>
					<xs:documentation>Other Non-Healthcare Professional</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2302023">
				<xs:annotation>
					<xs:documentation>Physician</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2302025">
				<xs:annotation>
					<xs:documentation>Respiratory Therapist</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2302027">
				<xs:annotation>
					<xs:documentation>Student</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2302029">
				<xs:annotation>
					<xs:documentation>Critical Care Paramedic</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2302031">
				<xs:annotation>
					<xs:documentation>Community Paramedicine</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CrewMemberRoles">
		<xs:annotation>
			<xs:documentation>The role(s) of the crew member during this EMS call response.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="2303001">
				<xs:annotation>
					<xs:documentation>Driver/Pilot-Response</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2303003">
				<xs:annotation>
					<xs:documentation>Driver/Pilot-Transport</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2303005">
				<xs:annotation>
					<xs:documentation>Other (Not Listed)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2303007">
				<xs:annotation>
					<xs:documentation>Other Patient Caregiver-At Scene</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2303009">
				<xs:annotation>
					<xs:documentation>Other Patient Caregiver-Transport</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2303011">
				<xs:annotation>
					<xs:documentation>Primary Patient Caregiver-At Scene</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2303013">
				<xs:annotation>
					<xs:documentation>Primary Patient Caregiver-Transport</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
