WSDL/NEMSIS_V3_core.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.nemsis.org/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ws.nemsis.org/">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://ws.nemsis.org/" schemaLocation="NEMSIS_V3_9_core.xsd"></xsd:import>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="SubmitDataRequest">
		<wsdl:part name="parameters" element="tns:SubmitDataRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SubmitDataResponse">
		<wsdl:part name="parameters" element="tns:SubmitDataResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="RetrieveStatusRequest">
		<wsdl:part name="parameters" element="tns:RetrieveStatusRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="RetrieveStatusResponse">
		<wsdl:part name="parameters" element="tns:RetrieveStatusResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="QueryLimitRequest">
		<wsdl:part name="parameters" element="tns:QueryLimitRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="QueryLimitResponse">
		<wsdl:part name="parameters" element="tns:QueryLimitResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="NemsisWsPortType">
		<wsdl:operation name="SubmitData">
			<wsdl:input message="tns:SubmitDataRequest"></wsdl:input>
			<wsdl:output message="tns:SubmitDataResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RetrieveStatus">
			<wsdl:input message="tns:RetrieveStatusRequest"></wsdl:input>
			<wsdl:output message="tns:RetrieveStatusResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QueryLimit">
			<wsdl:input message="tns:QueryLimitRequest"></wsdl:input>
			<wsdl:output message="tns:QueryLimitResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NemsisWsPortBinding" type="tns:NemsisWsPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SubmitData">
			<soap:operation soapAction="http://ws.nemsis.org/SubmitData" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RetrieveStatus">
			<soap:operation soapAction="http://ws.nemsis.org/RetrieveStatus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QueryLimit">
			<soap:operation soapAction="http://ws.nemsis.org/QueryLimit" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NemsisWsService">
		<wsdl:port name="NemsisWsPort" binding="tns:NemsisWsPortBinding">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
